*{
    margin:0px;
    padding:0px;
}
body{
    color:#444444;
    font-size:13px;
    background: #f2f2f2;
    font-family:"Century Gothic", Helvetica, sans-serif;
}
#content{
	margin:auto;
	width:1024px;
	position:relative;
	height:100%;
	background-color:#F1F2F2;
}

#page_bg{
	width:960px;
	background-color:#E6E7E8;
	height:auto;
	margin-left: 32px;
	margin-right: 32px;
	float:left;

}

#logo_container{
	width:290px;
	height:100%;
	float:left;
}

#wrapper_container{
	width:620px;
	height: auto;
	background-color:#E6E7E8;
	overflow:hidden;
	float:right;
	margin-left: 25px;
	margin-right: 25px;
}

#wrapper{
	height:100%;
    background-color:#f4f4f4;
    width:600px;
    overflow:hidden;    
	margin:auto;
	
}
#steps{
    width:600px;
	/*height:320px;*/
    overflow:hidden;
}
.step{
    float:left;
    width:600px;
	/*height:320px;*/
	
}

span.reference{
position:fixed;
left:5px;
top:5px;
font-size:10px;
}
span.reference a{
color:#555;
text-decoration:none;
text-transform:uppercase;
}
span.reference a:hover{
color:#000;

}

h1{
color:#1C75BC;
font-size:24px;
padding:20px;
}

h2{
	font-size:20px;
	font-weight:bold;
	padding:20px;
	margin-top: 30px;
	float:left;
}

h3{
	color:#666;
	font-size:16px;
	font-weight:bold;
	padding:20px;
	float:left;
	width:460px;
	margin-top: 0px;
}

h4{
	text-align:left;
	color:#333;
	font-size:14px;
	font-weight:bold;
	float:left;
	width:580px;
	padding:5px 0px 5px 14px;
	margin:10px 0px;
}



p{
color:#666666;
font-size:12px;
padding:20px;
}	

.tab5 p{
    color:#666666;
	font-size:12px;
	padding:20px;
}

.tab5 ol{
	font-size: 12px;
	color: #666;
	padding-left:40px;
	padding-right:40px;	
}

.tab5 li{
	font-size: 12px;
	color: #666;
	padding-left:20px;	
}

#navigation{
	width:620px;
    height:45px;
	float:left;
}
#navigation ul{
    list-style:none;
	float:left;
	margin-left:10px;
}
#navigation ul li{
	float:left;
    position:relative;
	margin:0px 2px;	
}
#navigation ul li a{
	display:block;
	height:45px;
	background-color:#E6E7E8;
	color:#777;
	outline:none;
	font-weight:bold;
	text-decoration:none;
	line-height:45px;
	padding:0px 20px;
    -moz-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px
	
	

}
#navigation ul li a:hover,
#navigation ul li.selected a{
    background:#f4f4f4;
    color:#666;
}

span.checked{
    background:transparent url(../images/checked.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}
span.error{
    background:transparent url(../images/error.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}

div.warning {
	display: none;
	border: 1px solid #CC0000;
	padding: 0px;
	margin: 0 20px 10px;
	position: relative;
}

div.warning span.error {
	left: 0;
}

div.warning p {
	color: #CC0000;
}

div.warning p + p {
	padding-top: 0;
	font-weight: bold;
}

#steps form fieldset{
    border:none;
    padding-bottom:20px;
}
#steps form legend{
	text-align:left;
	color:#333;
	font-size:14px;
	font-weight:bold;
	float:left;
	width:590px;
	padding:5px 0px 5px 14px;
	margin:10px 0px;
}
#steps form p{
	float:left;
	clear:both;
	background-color:#f4f4f4;
	width:558px;
	margin-left:10px;
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 0;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#steps form p label{
    width:160px;
    float:left;
    text-align:left;
    margin-right:15px;
    line-height:26px;
    color:#666;
    font-weight:bold;
}



#steps form input[placeholder], [placeholder], *[placeholder]{
	font-family:"Century Gothic", Helvetica, sans-serif;
    color:#999 !important;
	font-size:10px;
}


#steps form select {
	font-family:"Century Gothic", Helvetica, sans-serif;
    color:#999 !important;
	font-size:10px;
}

#steps form input:not([type=radio]),
#steps form textarea,
#steps form select {
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	padding: 5px;
	width: 370px;
	float:left;
	background-color: #FFFFFF;
	font-family:"Century Gothic", Helvetica, sans-serif;
	color:#666 !important;
	font-size:12px;
}

#steps form input[disabled] {
	background: #cccccc;
}

#steps form select {
	margin-top: 5px;
}

#date1 form input {
	background: #ffffff;
	border: 1px solid #ddd;
	outline: none;
	padding: 5px;
	width: 270px;
	float:left;
}

#steps form input#scene_count {
	width: 50px;
}

form input:focus{

    background-color:#FFFEEF;
}
#steps form p.submit{
    background:none;
    border:none;

}
#steps form button {
	float:right;
	border:none;
	outline:none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #ffffff;
    display: block;
    cursor:pointer;
    margin: 0 0 0 10px;
    padding: 7px 25px;
    font-weight:bold;
    font-family:"Century Gothic", Helvetica, sans-serif;
    font-size:14px;
    background:#4797ED;
}
#steps form button:hover {
    background:#d8d8d8;
    color:#666;
}


#steps form input[type="checkbox"]{
	position:relative;

	top:6px;
	width:auto;
	display:inline-block;
    }
	


.hideElement {
	display:none;
	}

#steps form .pricing_container{
    float:left;
    clear:both;
    margin:5px 0px;
    background-color:#f4f4f4;
    width:558px;
    padding:10px;
    margin-left:10px;
	}
	
#steps form .pricing_container p{
	float:left;
	clear:both;
	border:0px ;
	width:auto;
	margin:0;

	}
	
.pricing_label{
	border: none;
	outline: none;
	padding: 5px;
	width: 180px;
	height: 20px;
	float:left;
	margin-bottom: 10px;
}

.pricing_selection_box{
	outline: none;
	padding: 4px;
	width: 4px;
	height: 4px;
	float:left;
}	

.i_agree_selection_box{
	outline: none;
	padding: 4px;
	width: 4px;
	height: 4px;
	float:left;
	position: relative;
	z-index: 200px;
	top: -44px;
	left: 160px;
}

.different_billing_contact_box{
	outline: none;
	padding: 4px;
	width: 4px;
	height: 4px;
	float:left;
	position: relative;
	z-index: 200px;
	top: -38px;
	left: 186px;
}

.shoot_contact_different{
	outline: none;
	padding: 4px;
	width: 4px;
	height: 4px;
	float:left;
	position: relative;
	z-index: 200px;
	top: -38px;
	left: 188px;
}

.shoot_contact_different_info{
	left:220px;
	top:-29px;
	width:360px;
	height: 20px;
	display:inline-block;
	float:left;
	position: relative;
	font-family:"Century Gothic", Helvetica, sans-serif;
	color:#999 !important;
	font-size:10px;
	font-style: italic;
	}	
	
.pricing_fields{
	background: #D1D3D4;
	border: 1px solid #ddd;
	outline: none;
	width: 210px;
	height: 18px;
	float:left;
	margin-bottom: 10px;
	padding-top: 6px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.invoice_price{
	float:left;
	width:220px;
	height: 200px;
	padding:10px;
	background-color: #E6E7E8;
	font-family:Verdana, Geneva, sans-serif;
	color:#666666;
	font-size:12px;
	font-weight:bold;
	font-family:"Century Gothic", Helvetica, sans-serif;
	}
	


#steps form .invoice_price input {
	left:0px;
	top:0px;
	width:80px;
	display:inline-block;
	margin-bottom: 8px;
	text-align: right;
	}


.stage_price{
	float:right;
	width:220px;
	height: 200px;
	padding:10px;
	background-color: #E6E7E8;
	font-size:12px;
	font-weight:bold;
	font-family:"Century Gothic", Helvetica, sans-serif;
	}
	


#steps form .stage_price input{
	left:0px;
	top:0px;
	width:80px;
	display:inline-block;
	margin-bottom: 8px;
	text-align: right;
	}

#steps form input[type="radio"] {
	width: 1.5em;
}

#steps form .stage_price label,
#steps form .invoice_price label {
	float: left;
	width: 100px;
	display:inline-block;
	left:0px;
	top:0px;
	margin: 6px -15px 0 0;
	text-align: right;
	font-weight: normal;
	z-index: 1000;
	position: relative;
}

#steps form .stage_price label:after,
#steps form .invoice_price label:after {
	content: "$";
	display: block;
	width: 20px;
	float: right;
}

/* Date Picker */
	
.date_picker_box{
    float:left;
    clear:both;
    margin:5px 0px;
    background-color:#f4f4f4;
    width:558px;
    padding:10px;
    margin-left:10px;


	}
	
.date_picker_box label{
    width:160px;
    float:left;
    text-align:left;
    margin-right:15px;
    line-height:26px;
    color:#666;
    font-weight:bold;
	font-size: 12px;
}	

	
 #steps form .date_picker_box input{
	left:0px;
	top:0px;
	width:200px;
	display:inline-block;
	float:left;
	}
	
.date_picker_info{
	right:20px;
	top:-40px;
	width:150px;
	height: 20px;
	display:inline-block;
	float:right;
	position: relative;
	font-family:"Century Gothic", Helvetica, sans-serif;
	color:#999 !important;
	font-size:10px;
	font-style: italic;
	}	
	

	
.billing_contact_info{
	left:210px;
	top:-29px;
	width:360px;
	height: 20px;
	display:inline-block;
	float:left;
	position: relative;
	font-family:"Century Gothic", Helvetica, sans-serif;
	color:#999 !important;
	font-size:10px;
	font-style: italic;
	}	
	
	
.field_info{
	margin-left: 200px;
	width:auto;
	height: 20px;
	display:inline-block;
	float:left;
	position: relative;
	font-family:"Century Gothic", Helvetica, sans-serif;
	color:#999 !important;
	font-size:10px;
	font-style: italic;
	}	
	
.scene_info{
	width:auto;
	margin-left: 0px;
	float:left;
	position: relative;
	font-family:"Century Gothic", Helvetica, sans-serif;
	color:#999 !important;
	font-size:10px;
	font-style: italic;a
	}			

.invoice_price_info{
	float:left;
	width:220px;
	height: 216px;
	padding:10px;
	background:#F0F0F0;
	font-family:Verdana, Geneva, sans-serif;
	color:#999999;
	font-size:10px;
	font-family:"Century Gothic", Helvetica, sans-serif;
	}
	
.stage_price_info{
	float:right;
	width:220px;
	height: 216px;
	padding:10px;
	background:#F0F0F0;
	font-family:Verdana, Geneva, sans-serif;
	color:#999999;
	font-size:10px;
	font-family:"Century Gothic", Helvetica, sans-serif;
	}
	
	
.form_message_image{
	float:left;
	width:100px;
	height: 100px;
	padding:10px;
	}
	
.reset_button_container{
	float:right;
	width: 100px;
	height: 32px;
	position: relative;
	top: -20px;
}	
		
.reset_button a{
	float:left;
	border:none;
	outline:none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #ffffff;
	display: block;
	cursor:pointer;
	/*margin: 0 0 0 500px;*/
	padding: 7px 25px;
	font-weight:bold;
	font-family:"Century Gothic", Helvetica, sans-serif;
	font-size:14px;
	background:#4797ED;
	text-decoration: none;
}


.reset_button a:hover {
    background:#d8d8d8;
    color:#666;
}	


#form_message_container{
	width:620px;
    height:100%;
	min-height: 600px;
	float:left;
}

#form_message_box{
	height:100%;
	min-height: 240px;
    background-color:#f4f4f4;
    width:600px;
    overflow:hidden;    
	margin:auto;	
}		

.myform{
margin:0 auto;
padding:14px;
background-color:#E6E7E8;
}

.support{
	padding:10px;
	background-color: #f4f4f4;
	font-size:12px;
	font-weight:bold;
	font-family:"Century Gothic", Helvetica, sans-serif;
	}
	
.button{
	visibility:hidden;
	display:block;
	border:none;
	outline:none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #ffffff;
    cursor:pointer;
    margin: 0 0 0 10px;
    padding: 7px 25px;
    font-weight:bold;
    font-family:"Century Gothic", Helvetica, sans-serif;
    font-size:14px;
    background:#4797ED;
	}
	
	.ew_choice{
	display:block;
	border:none;
	outline:none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
	height: 30px;
	width: 380px;
    font-weight:normal;
    font-family:"Century Gothic", Helvetica, sans-serif;
    font-size:14px;
    background:#f4f4f4;
	}
