<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    template="../newtemplate.xhtml">
    <ui:define name="checkurl">
        <f:metadata>
            <f:event listener="#{LocationEditController.preRenderView}"
                type="preRenderView" />
        </f:metadata>
        
       	<style type="text/css">
       	
					.publish
					{
						display: block;
						width: 400px;
					}
					
					.right
					{
						position: relative;
						float: right;
						top: -320px;
						right: 50px;
						
					}
					
					.reporttitle
					{
					font-size: 26px;
					overflow: hidden;
					
					}

                    .ui-fileupload-buttonbar {
                        height: 25px;
                    }

                    .ui-fileupload-buttonbar .ui-fileupload-choose, .ui-fileupload-upload, .ui-fileupload-cancel{
                        display: none;
                    }

	</style>

		<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
		
    </ui:define>

    <ui:param name="location" value="#{LocationEditController.location}" />
	<ui:define name="script">
	    <h:outputScript library="js" name="accordion.js"/>
	</ui:define>

    <ui:define name="gmap">
        <script id="maps" src="http://maps.google.com/maps/api/js?sensor=false"
            type="text/javascript"></script>
        <h:outputScript library="js" name="map-service.js" />
        <h:outputScript library="js" name="location.js" />

        <script type="text/javascript">
          var counter = 0;
          $(document).ready(function(){
            resetAllAccordions();
            $('#wizard_form\\:tabView\\:fp').change(function(e){
                  onFileSelect(e);
              })
              $('#wizard_form\\:tabView\\:vu').change(function(e){
                  onVideoToStitchFileSelect(e);
              })

              PF('uploadVids').disable();
          });

          function showFlash(accordionId)
          {
            console.log(accordionId);
            var activeIndex = $("#"+accordionId+"_active").val();
            var visibleTab = $("#"+accordionId+"\\:" + activeIndex + "\\:scene_tab");
            var visibleFrame = $("#" + activeIndex + "scene_frame");
            var visibleFrameId = activeIndex + "scene_frame";
            var holder = visibleTab.find('#flash_holder');
            // Populate iframe if not already
            if(holder.html() == "" || holder.html() == null)
                holder.html(
                    '&lt;iframe src="'+holder.attr("iframeurl")+'" id="'+visibleFrameId+'" class="sceneAccordionTab" width="100%" height"100%" scrolling="no" /&gt;'
                );
             else
            	 visibleFrame.attr('class', 'sceneAccordionTab');
          }

          function resetAllAccordions()
          {
                resetAccordionPanel('scenesAccordionId');
          }

          function closeTabs()
          {
              // $('sceneAccordionTab').width = 400;
        	  $('iframe').each(function() {
        	        $(this).attr('class', 'sceneAccordionTabClosed');
        		});
          }

          function resetAccordionPanel(accordionId)
          {
                 // A hidden field in the accordion that stores the current active index
                 $('#'+accordionId+'_active').val(-1);
          }



          function enableSceneTab(success, sceneId, sceneName, message){
              var content = '&lt;div id="flash_holder" iframeurl="/views/scene/view.jsf?s='+sceneId+'&amp;autologin=true" class="sceneAccordionTab" &gt;&lt;/div&gt;';
              try{PF('scenesAccordionVar').enableTabHtml(success, sceneId, sceneName, message, content);}
              catch(e){}
          }

          function updateSceneTab(sceneId,sceneName,message){
              try{PF('scenesAccordionVar').updateTabHtml(sceneId, sceneName, message);}
              catch(e){}
          }

          function handlePushMessage(data){
              if(data === null)return;
              if(data !== undefined){
                  if(data.eventName === 'updateSceneTab'){
                      updateSceneTab(data.sceneId, data.sceneName, data.message);
                  }else if(data.eventName === 'enableSceneTab'){
                      enableSceneTab(data.success, data.sceneId, data.sceneName, data.message);
                  }
              }
          }

         </script>
    </ui:define>

    <ui:define name="content">
        <h:panelGroup id="panelGroup">
            <b><p:outputLabel value="Location doesnot exist" rendered="#{empty LocationEditController.location or LocationEditController.location.status == -1}"/></b>
            <p:growl id="locationGrowl" showDetail="true" autoUpdate="true" />
            <p:socket channel="/*" onMessage="handlePushMessage"  rendered="#{not empty LocationEditController.location and LocationEditController.location.status != -1}"/>
            <h:form preappendid="false" id="wizard_form"  rendered="#{not empty LocationEditController.location and LocationEditController.location.status != -1}">

                <p:confirmDialog widgetVar="deleteLocationDialog" id ="deleteLocationDialog"
                                 message="Are you sure you want to delete the location?"
                                 header="Delete Location" severity="alert" >
                    <p:commandButton id="confirm" value="Yes" icon="ui-icon-check"
                                     onstart="PF('deleteLocationDialog').hide();" update=":panelGroup"
                                     actionListener="#{LocationEditController.deleteLocation()}" />
                    <p:commandButton id="decline" value="No" icon="ui-icon-close" onclick="PF('deleteLocationDialog').hide();return false;" type="button" />
                </p:confirmDialog>

                <p:tabView id="tabView" dynamic="true" activeIndex="#{LocationEditController.activeIndex}">
                <p:tab id="scenesTab" title="Scenes">


            <span style=" float :left"><b>Title:</b></span>
            <p:inputText id="title" style="width:250px; margin-left: 30px; float :left" value="#{LocationEditController.title}" /><br /><br />
            <span style=" float :left"><b>Email:</b></span>
            <p:inputText id="email" style="width:250px; margin-left: 20px; float :left" value="#{LocationEditController.email}" /><br /><br />
            <span style=" float :left"><b>Phone:</b></span>
            <p:inputText id="phone" style="width:250px; margin-left: 15px; float :left" value="#{LocationEditController.phone}" /><br /><br />
            <span style=" float :left"><b>Info Url:</b></span>
            <p:inputText id="infoUrl" style="width:250px; margin-left: 10px; float :left" value="#{LocationEditController.infoURL}" /><br /><br />
            <br />
            <span style="font-size: 10px"><i>Please keep titles short and meaningful - 20 characters max</i></span>
            <p:commandButton value="Delete" icon="ui-icon-trash" style="Float: right; top: -30px"  onclick="PF('deleteLocationDialog').show();return false;"/>
            <p:commandButton value="Save" icon="ui-icon-disk" style="Float: right; top: -30px" action="#{LocationEditController.processSubmit()}" />

            <br />
            <p:outputPanel id="map_panel">
                <p:gmap id="location_map" widgetVar="l_map" type="ROADMAP"
                        draggable="true" style="width:100%;height:300px"
                        onPointClick="addMarker(event,PF('l_map'));return false;" zoom="10"
                        model="#{LocationEditController.locationMapModel}"
                        center="#{location.latitude},#{location.longitude}">
                    <p:ajax event="stateChange"
                            listener="#{LocationEditController.locationMapModel.onStateChange}" />
                    <p:ajax event="pointSelect"
                            listener="#{LocationEditController.locationMapModel.onPointSelect}" />
                    <p:ajax event="markerDrag"
                            listener="#{LocationEditController.locationMapModel.onMarkerDrag}" />
                </p:gmap>
                <script type="text/javascript">
                    function setLocationMarker()
                    {
                        if(PF('l_map'))
                            updateMarker(
                                    '#{location.latitude}',
                                    '#{location.longitude}',
                                    '10',
                                    PF('l_map')
                            );
                    }

                    setTimeout(setLocationMarker, 1000);
                </script>
                <p:inputText id="searchField"
                             style="width:200px; height:18px; margin-top:8px; float: right" />
                <p:commandButton value="Search" ajax="true"
                                 update="location_map" style="width:90px;height:30px; margin-top:8px;  float: right"
                                 onclick="findLocation(PF('l_map'));return false;" />
                <span style="font-size: 12px; float: right; height :30px; margin-right:20px; margin-top:10px;"><b>Please select a map position for this location</b></span>
            </p:outputPanel>
            <br /><br /><br />
            <p:growl id="scenesGrowl" showDetail="true" autoUpdate="true"/>
            <p:accordionPanel id="scenesAccordionId"
                              widgetVar="scenesAccordionVar"
                              value="#{LocationEditController.scenes}"
                              var="scene"
                              cache="true"
                              activeIndex="-1"
                              onTabChange="closeTabs()"
                              onTabShow="showFlash('wizard_form\\:tabView\\:scenesAccordionId')">
                <p:tab id="scene_tab" title="#{scene.title} - #{scene.id}" css-class="sceneAccordionTab"  >
                    <f:facet name="title">
                        <p:commandButton style="float :right; position:relative; font-size: 70%; top: -2px" value="Delete" onclick="event.stopPropagation();"
                                        action="#{SceneController.deleteSelectedScene(scene.id)}"
                                        oncomplete="if(args.success !== undefined){
                                                        if(args.success === true){
                                                            PF('scenesAccordionVar').removeTab(#{LocationEditController.scenes.lastIndexOf(scene)});
                                                        }else{}
                                                    }
                                        "/>
                        <h:outputText value="#{scene.title} - #{scene.id}" />
                    </f:facet>
                    <div id="flash_holder" class="sceneAccordionTab" scrolling="no"
                         iframeurl="/views/scene/view.jsf?s=#{scene.id}&amp;autologin=true"></div>
                </p:tab>
            </p:accordionPanel>

            <br/>
            <h:form prependId="false">

                <p:outputLabel value="Scene Name"/>&#160;

                <p:inputText id="sceneName"/>&#160;&#160;

                <p:inputText id="sceneId" type="hidden"/>
                <p:inputText id="imageId" type="hidden"/>
                

                <p:panelGrid columns="2" style="width: 100%">

                    <p:panel header="Upload Panorama File" >


                        <p:button value="Select Single Panorama" onclick="PF('fu').chooseButton.find('input[type=file]')[0].click();return false;"/>


                        <p:commandButton value="Upload" process="@form" ajax="true"
                                         onstart="return initHiddenSceneId($('#wizard_form\\:tabView\\:sceneId'));"
                                         actionListener="#{LocationEditController.addScene()}"
                                         oncomplete="onAddSceneComplete(xhr, status, args)">
                        </p:commandButton>

                        <p:fileUpload  id= "fp" process="@form" widgetVar="fu" fileUploadListener="#{SceneController.handleFileUpload}" mode="advanced" dragDropSupport="false"
                                       update="messages" allowTypes="/(\.|\/)(jpe?g|mp4)$/"
                                       oncomplete="uploadNextFile($('#wizard_form\\:tabView\\:sceneId'));">
                        </p:fileUpload>
                    </p:panel>

                    <p:panel header="Upload Videos to Stitch" >
                    	<p:commandButton id="uploadPto" value="(Optional) Select Hugin Template" onclick="PF('vu').chooseButton.find('input[type=file]')[0].click(); return false;"/>
                        <p:commandButton widgetVar="upload1" value="Select video 1" onclick="PF('vu').chooseButton.find('input[type=file]')[0].click();PF('upload2').enable(); return false;"/>
                        <p:commandButton widgetVar="upload2" disabled="true" value="Select video 2" onclick="PF('vu').chooseButton.find('input[type=file]')[0].click(); PF('uploadVids').enable(); return false;"/>




                        <p:commandButton value="Upload Videos" process="@form" ajax="true" widgetVar="uploadVids"
                                         onstart="return initHiddenSceneId($('#wizard_form\\:tabView\\:sceneId'),true);"
                                         actionListener="#{LocationEditController.addScene()}"
                                         oncomplete="onAddSceneComplete(xhr, status, args, true)">
                        </p:commandButton>

                        <p:fileUpload  id= "vu" process="@form" widgetVar="vu" fileUploadListener="#{SceneController.handleVideoToStitchUpload}" mode="advanced" dragDropSupport="false" multiple="true"
                                       update="messages" allowTypes="/(\.|\/)(mp4|pto)$/"
                                       oncomplete="return true;"
                                >
                        </p:fileUpload>


                    </p:panel>
                </p:panelGrid>


                <p:growl id="messages" showDetail="true"/>
            </h:form>
            <br></br>
            <br></br>

            <p:spacer width="84.3%" height="10" />


            <div>
                <span style="font-size: 24px; font-family: 'Helvetica', Arial" ><b>Scenes</b></span><br/><br/>
<span>
Panoramic images make up scenes. Scenes contain navigational hotspots (bubbles and signboards) and media (video, sounds, photos, posters, RSS feeds etc).
To create scenes, click <b>add scene</b> and upload a panorama (6000px x 3000px works best). You can name it, set it’s position, add hotspots and media and save it.
Any hotspots or media added to scenes appears in all guides. </span>
                <br/><br/><br/>
                <span style="font-size: 24px; font-family: 'Helvetica', Arial" ><b>Navigation</b></span><br/><br/>
 <span>
 <b>Bubbles:</b> These take you to a single nearby scene. Try and only use bubbles for other scenes that are in view. They present another place you can see or easily access. The bubble window will have a list of possible nearby scenes, you can also drag in the 'select scene' bubble to choose the scene you want to link to. <br/><br/>
 <b>Signboards:</b>  These are a list of nearby scenes with directional arrows. Drag a signboard into the scene and use the configuration to position it against wall. You can select the 4 scenes you want to use, and select the direction to show the arrows.<br/>
</span><br/><br/><br/>
                <span style="font-size: 24px; font-family: 'Helvetica', Arial" ><b>Media</b></span><br/><br/>
<span>
<b>Photos:</b>  Upload images (web ready jpeg or png), position in the scene, mask and add borders. Add text make the picture spin round when it appears. Add a scene to the config to turn the photo into a hotspot and load a new scene.
<br/><br/><b> Posters:</b>  Add a poster to give some information about the space. Drag in the poster icon, and add text to see how it looks. You can edit the text with a text editor, and make it show as an icon or add a button to load a website, scene or favourite the hotspot, so the audience receives an email with that information.
<br/><br/><b>Video:</b> Drag a video into the scene to upload an FLV file or enter a YouTube URL. Use the configure tab to position, size and select the preview image.
<br/><br/><b>Sounds: </b>Drag in the sound icon to upload an MP3, set it’s volume and ambiance (3D sound effect).  Alternatively use our library of 3D sounds from the Sound tab.
<br/><br/><b>Intro </b>Video: Upload a video (FLV) that plays as an introduction to this scene.
</span>
            </div>
        </p:tab>
        
        
        <p:tab id="List" title="List">
            <b><h:outputText value="Scene List" /></b><br/><br/>
           	  <ui:repeat value="${LocationEditController.scenes}" var="scene">
   	   <a href="http://beek.co/s#{scene.id}"><span>#{scene.title}</span></a> <br/>
   	      </ui:repeat>


        </p:tab>

        <p:tab id="list" title="Descriptions">
  <p:commandButton value="Save" icon="ui-icon-disk" style="Float: right; top:0px" action="#{LocationEditController.processSubmit()}" />

            <ui:repeat value="${LocationEditController.scenes}" var="scene">
            
            <p:layout style="width:800px;min-height:200px;">
		    <p:layoutUnit position="west" resizable="true" size="210">
		       <p:graphicImage style="float:left; width:200px;height:200px;" url="#{buildProperties.cdnUrl}/#{scene.thumbName}" />      
		    </p:layoutUnit>
 
   			 <p:layoutUnit position="center">
                  <h2> <p:inputText value="#{scene.title}" style="margin-left: 50px; width:500px"  immediate="true" cols="100"/> <br/></h2> 
                 <p:inputTextarea rows="5" cols="30" style="margin-left: 50px; width:500px" immediate="true" value="#{scene.description}" counter="display" maxlength="1000" counterTemplate="{0} characters remaining." autoResize="false" /><br/>
  				 <h:outputText style="margin-left: 50px"  id="display" />
  				  <br/>
    		</p:layoutUnit>
</p:layout>
                 
            

            </ui:repeat>

        </p:tab>


        <p:tab id="users" title="Users">

            <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"
                      draggable="false" closable="false">
                <p:graphicImage value="/resources/images/ajaxLoadingBar.gif" />
            </p:dialog>

            <br />

            <br> </br>
            Enter Email Address:
            <p:inputText id="emailField"
                         value="#{LocationEditController.emailAddress}"
                         style="width:160px">
                <!-- <p:ajax event="keyup" update="destinationGuidesTable" /> -->
            </p:inputText>
            <p:commandButton align="right" value="Add User"
                             actionListener="#{LocationEditController.addUser()}" />
            <br> </br>
            <br> </br>
            <table border="0">
                <tr>
                    <td valign="top">Users</td>
                </tr>
                <tr>
                    <td><p:dataTable var="usersEmails" width="200"
                                     value="#{LocationEditController.usersEmails}"
                                     emptyMessage="No users found.">
                        <p:column>
                            <h:outputText value="#{usersEmails}" />
                        </p:column>
                        <p:column style="width:4%">
                            <p:commandLink
                                    actionListener="#{LocationEditController.removeUser(usersEmails)}">
                                <h:outputText value="Remove User" />
                            </p:commandLink>
                        </p:column>
                    </p:dataTable></td>
                </tr>
            </table>
            <h:form>
                <p:growl id="info" showDetail="true" autoUpdate="true" />

                <br> </br>
                <p:growl id="growl" showDetail="true" sticky="true" />

            </h:form>
        </p:tab>

        <p:tab id="guides" title="Guides">
            <p:dataGrid
                    value="#{LocationEditController.getGuidesImIn(LocationEditController.getLocation())}"
                    var="guide"
                    emptyMessage="No guides found.">

                <p:panel headerText="#{guide.title}">
                    <a href="/g#{guide.id}" target="_blank">
                        <h:outputText value="#{guide.title}" />
                    </a>

                    <a href="/g#{guide.id}" target="_blank">
                        <p:graphicImage style="width:200px; height:200px"
                                        value="#{buildProperties.cdnUrl}/#{guide.thumbName}" />
                    </a>
                </p:panel>

            </p:dataGrid>


        </p:tab>
        </p:tabView>
        </h:form>
        </h:panelGroup>
    </ui:define>
       <script src='http://gms.beektest.co/resources/js/oocharts.min.js'></script>
</ui:composition>