/*
    LEANORAMA - jQuery Plugin for displaying and navigating panoramic images.
    Hotspot Extension - displays hotspots on leanorama objects.

    Version 0.1.0
    -------------
    Copyright 2013 Leandigo (www.leandigo.com). All rights reserved.
    Use is subject to terms.
    
*/


/* Hotspot styling */
.leanorama-hotspot {
    position:   absolute;
}

.leanorama-hotspot-dot {
    max-height:     0;
    max-width:      0;
}

.leanorama-hotspot-handle {
    position:   absolute;
    z-index:    20000;
}

/* Various hotspot types */
.leanorama-hotspot-handle-nav,
.leanorama-hotspot-handle-info,
.leanorama-hotspot-handle-link,
.leanorama-hotspot-handle-action {
    display:            block;
    background-size:    100% 100%;
    background-repeat:  no-repeat;
}

.leanorama-hotspot-handle-nav:hover,
.leanorama-hotspot-handle-info:hover,
.leanorama-hotspot-handle-link:hover,
.leanorama-hotspot-handle-action:hover {
    cursor:     pointer;
}

/* Navigation Hotspot - Redirect to another viewpoint */
.leanorama-hotspot-handle-nav {
    width:              4em;
    height:             4em;
    background-image:   url(../img/arrow.png);
}

.tooltip-inner {
    white-space:    pre;
    max-width:      none;
}

/* Informational Hotspot - Info popup with text or image, etc. */
.leanorama-hotspot-handle-info {
    width:              4em;
    height:             4em;
    background-image:   url(../img/info.png);
}

/* Link Hotspot - Download PDF, etc. */
.leanorama-hotspot-handle-link {
    width:              4em;
    height:             4em;
    background-image:   url(../img/link.png);
}

/* Action Hotspot - On/Off lights, etc. */
.leanorama-hotspot-handle-action {
    width:              4em;
    height:             4em;
    background-image:   url(../img/action.png);
}

/* Bootstrap Override of popover width */
.popover {
    min-width:  250px;
}