body img{border:none;-ms-interpolation-mode:bicubic;}

.jScrollPaneContainer{position:relative;overflow:hidden;}
.jScrollPaneTrack{position:absolute;cursor:pointer;right:0;top:0;height:100%;}
.jScrollPaneDrag{position:absolute;cursor:pointer;overflow:hidden;}
.jScrollPaneDragTop{position:absolute;top:0;left:0;overflow:hidden;}
.jScrollPaneDragBottom{position:absolute;bottom:0;left:0;overflow:hidden;}

.button_large{float:left;padding:7px 10px 9px 10px;background-color:#0f1d2b;font-size:14px!important;line-height:17px!important;font-family:'Lucida Grande',Tahoma,Arial,sans-serif!important;color:white;text-align:center;cursor:pointer;border:none;-moz-border-radius:5px;-webkit-border-radius:5px;}
.button_large:hover{color:white;text-decoration:none;background:#204dc4;}
#top{margin-bottom:90px;width:100%;height:38px;border-bottom:5px solid #0f1d2b;background:#d7e9ff;}
#home{margin:0 auto;width:880px;}
#carousel{overflow:hidden;position:relative;margin:0;width:100%;height:450px;}
#carousel-flow{z-index:1;position:absolute;top:0;width:100%;left:50%;margin-left:-50%;background:transparent!important;visibility:hidden;opacity:0;}
#carousel-flow ul.roundabout-holder{list-style:none;width:40em;height:25em;margin:1em auto;}
#carousel-flow li.roundabout-moveable-item{
	height:25em;
	width:40em;
	cursor:pointer;
	position:relative;
}
#carousel-flow li.roundabout-moveable-item img{
	height:25em;
	width:40em;
}
#carousel-flow li.roundabout-moveable-item .shadow_right{background:url("carousel_right_shadow.png") bottom right no-repeat;position:absolute;right:-100px;bottom:0;height:100%;width:100px;display:block;}
#carousel-flow li.roundabout-moveable-item .shadow_left{background:url("carousel_left_shadow.png") bottom left no-repeat;position:absolute;left:-100px;bottom:0;height:100%;width:100px;display:block;}
#carousel-flow li.roundabout-moveable-item .shadow_right2{
	background:url("carousel_right_shadow.png") bottom right no-repeat;
	position:absolute;
	right:-50px;
	bottom:0;
	height:100%;
	width:100px;
	display:block;
}
#carousel-flow li.roundabout-moveable-item .shadow_left2{background:url("carousel_left_shadow.png") bottom left no-repeat;position:absolute;left:-50px;bottom:0;height:100%;width:100px;display:block;}
#carousel-flow li.roundabout-in-focus{cursor:auto;}#carousel-video{
	display:none;
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-324px;
	z-index:99998;
}
#play-demo{display:none;position:absolute;top:350px;left:50%;margin-left:-296px;z-index:10;cursor:pointer;}
#carousel #play-demo .arrow{display:block;float:left;width:0;height:0;border-style:solid;border-width:5px 0 5px 7px;margin:4px 8px 0 0;}
#carousel #play-demo .color_arrow{border-color:transparent transparent transparent white;}
