@charset "utf-8";

*                   	{ margin:0; padding:0; outline:none; }

form{clear:both;}

.contact_info					{
	width:201px;
	position:absolute;
	height: 97px;
}
.contact_info_form					{
	width:268px;
	position:absolute;
	height: 296px;
	left: 480px;
	top: 1092px;
}
.contact_info_divider					{
	width:39px;
	position:absolute;
	height: 296px;
	background-image: url(../images/contact_divider.png);
	background-repeat: no-repeat;
	left: 352px;
	top: 1px;
}

form fieldset					{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0px 0px 20px 0px;
	border:0;
	display:block;
	padding: 0px 10px 8px;
	position:absolute;
	height: 322px;
	width:310px;
	left: 20px;
	top: 5px;

}

form fieldset legend	{

	color:#000;
	font-weight:bold;
	font-variant:small-caps;
	font-size:140%;
	padding:4px 8px;
	margin:0px 0px 10px 0px;
	position:relative;
	top: -12px;
	background:white;
}
label									{
	font-size:90%;
	display:block;
	float:left;
	width:98px;
	text-align:left;
	margin:.2em .2em 0 0;
	color:#000;
	font-weight:bold;
	padding:8px 0px;
}
label.error           {
	font-weight:normal;
	color:red;
	text-align:left;
	width:126px;
	padding-left:25px;
	background: transparent url(/images/cancel.png) no-repeat scroll left;
}


input.text-input			{
	margin:4px;
	padding:2px 0;
	color:#000;

}

input.text-input, input.text-input textarea {
	padding: 5px;
	width: 290px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: none;
	background-image: url(../images/form-sm-bg.png);
	background-repeat: no-repeat;
	background-position: -7px -51px;
}

input.text-input textarea {
	height: 100px;
}

input.text-input textarea, input.text-input:focus {
	padding: 5px;
	width: 290px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: none;
	background-image: url(../images/form-sm-bg.png);
	background-repeat: no-repeat;
	background-position: -7px -5px;
}













label#name_label      {
	position:absolute;
	top:30px;
	left:11px;
}


input#name            {
	position:absolute;
	top:54px;
	left:6px;
	height: 24px;
	/*/background: url(../images/form-sm-bg.png) bottom left no-repeat transparent;;*/
}



label#name_error      {
	position:absolute;
	top:88px;
	left:85px;
}

label#email_label     {
	position:absolute;
	top:125px;
	left:11px;
}
input#email           {
	position:absolute;
	top:149px;
	left:7px;
	height: 24px;
}
label#email_error      {
	position:absolute;
	top:170px;
	left:86px;
}

label#phone_label     {
	position:absolute;
	top:207px;
	left:11px;
}
input#phone           {
	position:absolute;
	top:231px;
	left:7px;
	height: 24px;
}
label#phone_error      {
	position:absolute;
	top:253px;
	left:85px;
}

label#your_message_label     {
	position:absolute;
	top:166px;
	left:1px;
}
input#your_message          {
	position:absolute;
	top:191px;
	left:-4px;
	height: 98px;
	width: 245px;
}
label#your_message_error      {
	position:absolute;
	top:300px;
	left:20px;
}

input.button					{
	position:absolute;
	top:283px;
	left:151px;
	padding:3px 6px;
	margin:0px 0px 0px 0px;
	color:#FFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background:#000;

}


#message					    {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0px 0px 20px 0px;
	position:absolute;
	border:0;
	display:block;
	padding: 0px 10px 8px;
	left: 20px;
	top: 60px;
	height: 153px;
	width:359px;
}
#message h2						{
	font-size:18px;
	color:#29aae3;
}
#message p						{
	color:#29aae3;
	font-weight:bold;
	margin:6px 0px;
}
#checkmark						{ 
position:relative;
top:-46px;
left:-160px; 
}
