<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../template.xhtml">
    <ui:define name="checkurl">
        <f:metadata>
            <f:event listener="#{destinationController.preRenderView}" type="preRenderView"/>
        </f:metadata>
    </ui:define>
    <ui:define name="gmap">
        <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
        <h:outputScript library="js" name="map-service.js"/>
        <script type="text/javascript">
            window.onload = function () {
                updateMarker('#{destinationController.destination.latitude}','#{destinationController.destination.longitude}','#{destinationController.destination.zoom}',PF('tmap'));
            }
            function clearFields() {
                document.getElementById('title').value = '';
                document.getElementById('s_description').value = '';
                document.getElementById('description').value = '';
                document.getElementById('searchField').value = '';
            }
        </script>
    </ui:define>
    <ui:define name="pagetitle">
        <c:choose>
            <c:when test="#{destinationController.destination.id != null}">
                <h4>Edit Destination</h4>
                <c:set var="title" value="Edit Destination"/>
            </c:when>
            <c:otherwise>
                <h4>Add Destination</h4>
                <c:set var="title" value="Add New Destination"/>
            </c:otherwise>
        </c:choose>
    </ui:define>

    <ui:define name="content">
	<p:breadCrumb>
		<p:menuitem value="Dashboard" url="/" />
		<p:menuitem value="Edit Guide" url="/destination/#{destinationController.destination.id}/edit" />
	</p:breadCrumb>
		
        <center>
            <h:form prependId="false">
                <br/>
                <p:growl id="info" showDetail="true" autoUpdate="true"/>
                <p:panel header="#{title}" style="width:900px">
                    <div align="left">
                        <table cellpadding="3">
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <b><h:outputText value="Title : *"/></b>
                                            </td>
                                            <td>
                                                <p:message id="title_message" for="title"/>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td rowspan="7" align="left">
                                    <b>Search Location :</b>
                                    <p:inputText id="searchField" style="width: 250px"/>
                                    <p:commandButton value="Search" onclick="findLocation(PF('tmap'));return false;" ajax="true"
                                                     update="map" style="width: 75px;height:25px"/>

                                    <p:gmap id="map" widgetVar="tmap" style="width:450px;height:250px" type="ROADMAP"
                                            zoom="#{destinationController.destination.zoom}"
                                            center="#{destinationController.destination.latitude},#{destinationController.destination.longitude}"
                                            model="#{destinationController.mapModel}"
                                            onPointClick="addMarker(event,PF('tmap'));return false;"
                                            draggable="true" disableDoubleClickZoom="true">

                                        <p:ajax event="stateChange"
                                                listener="#{destinationController.onStateChange}"/>
                                        <p:ajax event="pointSelect"
                                                listener="#{destinationController.onPointSelect}"/>
                                        <p:ajax event="markerDrag"
                                                listener="#{destinationController.onMarkerDrag}"/>
                                    </p:gmap>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p:inputText id="title" value="#{destinationController.destination.title}"
                                                 required="true" style="width:190px"
                                                 requiredMessage="Please enter title"/>

                                </td>
                            </tr>

                            <tr>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <b><h:outputText value="Description : *"/></b>
                                            </td>
                                            <td>
                                                <p:message id="description_message" for="description"/>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td><p:inputTextarea id="description" required="true"
                                                     value="#{destinationController.destination.description}"
                                                     autoResize="false" style="width:400px;height:150px;"
                                                     requiredMessage="Please enter description"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                        <p:commandButton value="Save" ajax="true" style="width: 75px"
                                                         update="title title_message description description_message"
                                                         action="#{destinationController.save}"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </p:panel>
            </h:form>
        </center>
    </ui:define>
</ui:composition>
