
body,html {
/* 	background-color: rgb(200,200,200); */
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "Lato", Helvetica, Arial;
	font-size: 16px;
	position: relative;
	width:100%;
	height:100%;
}

* {
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}



#container {
	z-index: 1; 
	position: absolute; 
	left:0px;
	 top:0px;
	width:100%;
	height:100%;
	-webkit-perspective: 900000px;
	perspective: 900000px;
 }
 


.video-container {
width: 100%;
height: 100%;
position: absolute;
padding:0;
margin:0;
left: 0px;
top: 0px;
z-index: -1000;
overflow:hidden;
}


.video-player {

   min-height: 100%;  
   min-width:100%; 
   max-height: 100%;  
   max-width:100%; 
  	object-fit: fill;
   position:absolute;
  bottom:0;
   left:0;
}

video::-webkit-media-controls {
	display:none;
}

video::-webkit-media-controls-start-playback-button {
	display:none;
}

html:-moz-full-screen {
    background: black	;
}
 
html:-webkit-full-screen {
    background: black;
}
 
html:-ms-fullscreen {
    background: black;
    width: 100%; /* needed to center contents in IE */
}
 
html:fullscreen {
    background: black;
}

.spinner {
	width: 120px;
	height: 120px;

	z-index: 4;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #ffffff;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% {
		  transform: scale(1.0);
		  -webkit-transform: scale(1.0);
	  }
}

.wrap {
	position: relative;
}


#video video::-webkit-media-controls{
	display: none;
}

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
	opacity: 0;
	pointer-events: none;
	width: 5px;
}