body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

.ui-widget {
	
}


.ui-accordion .ui-accordion-content {
	padding: 0 !important;
	overflow:hidden;
}

.ui-widget-content{
	xxbackground: none !important;
	xxpadding: 0 !important;
	xxmargin: 0 !important;
}

.ui-panel-content{
	padding: 0 !important;
	margin: 0 !important;
}

.previewLayoutUnitHeader .ui-layout-unit-header {
 text-align: right!important;
}

.sceneAccordionTab{
	width:100%; 
	height:100%; 
	min-height:600px;
	margin:0; 
	padding:0; 
	border:none; 
	overflow:hidden;
}

.sceneAccordionTabClosed{
	width:400px; 
	height:400px; 
	min-height:400px;
	margin:0; 
	padding:0; 
	border:none; 
	overflow:hidden;
}

.editButton{
	left :50%;
}



.previewOpen{
	height: 600px;
}

.previewClosed{
	height: 200px;
}

.twenty-percent {
	width: 20%!important;
	text-decoration: none!important;
}

.eighty-percent {
	width: 80%!important;
	text-decoration: none!important;
}


.circle {
	display: block;
	height: 60px;
	width: 60px;
	line-height: 60px;

	-moz-border-radius: 30px; /* or 50% */
	border-radius: 30px; /* or 50% */

	background-color: black;
	color: white;
	text-align: center;
	font-size: 2em;
}

.circleLarge {
	height: 100px;
	width: 100px;
	line-height: 100px;

	-moz-border-radius: 50px; /* or 50% */
	border-radius: 50px; /* or 50% */

}

.topAligned {
	margin: auto;
	vertical-align: top;
}

.ui-panelgrid, .ui-panelgrid tr, .ui-panelgrid td, .ui-panelgrid-cell {
	border: none!important;
	border-width: 0px;
}