    html, body {
            height: 100%;
            overflow: hidden;
            font-family: Arial, Helvetica, sans-serif;
			/* color: #FFFFFF; */
        }

        body {
            margin: 0;
            padding: 0;
            layout: absolute;
			/* background-image:url('http://gms.#{GuideViewController.domain}/resources/images/bg.png') ; */
			background-repeat:repeat-x;
			background-color: #30b8ec;
        }

        #preloadtext {
         	text-align: left;
        }
        
        #preloader {
			display: none;
			width: 600px; /*the width of the element*/
			height: 100px; /*the height of the element*/
			position: absolute; /*absolute position to center the element in relation to its parent element*/
			left: 50%; /*the left border of the element is positioned at half of the available width of the parent element*/
			top:50%;
			margin-left: -300px; /*half of the element width is removed from the left margin to center it*/
			margin-top: -170px;
			font-size: 14px;
        }

        .preloader_embed {
        	margin-top: -30px !important;
        	width: 200px !important;
        	margin-left: -100px !important;
        }
        
        #preloadtrack {
        	xxwidth:300px;
        	background-color:#FFF;
			padding:1px;
			margin-top:5px;
        }
        
        #preloadbar {
        	width:1px; 
        	height:4px; 
        	background-color:#3b80c3;
        }

		#descriptionHolder {
    		position: absolute;
    		bottom: 60px;
    		left:50%;
			width: 320px;
			height: 320px;
			margin-left: 15px;
			background-color: #FFFFFF;
        }
	
        #logo {
    		position: absolute;
    		top: 10px;
    		left:16px;
        }
        
        #guidethumb {
    		position: absolute;
    		height:330px;
    		width:336px;
    		bottom: 60px;
    		left:50%;
        }

        #guideshelf {
    		position: absolute;
    		bottom: 10px;
			width:760px;
			height:100px;
    		left:50%;
			margin-left: -380px;
			background-image:url('http://gms.#{GuideViewController.domain}/resources/images/shelf.png')
        }
	
        #play-button {
            display: none;
        }

        #itunes-button {
            display: none;
        }
        
        .flash-hidden {
            position: absolute;
            top: 1000px;
        }

        .flash-visible {
            height: 100%; 
            width: 100%;
            top: 0;
        }
        
        /*Info Container*/
        
         #guidehelpcontainer {
    		height:330px;
    		width:336px;
			position: absolute;
			bottom: 60px;
			right:50%;
        }

        h1 {
			font-size: 18px;
			padding-top: 12px;
			padding-left: 24px;
			text-decoration:none;
		}

		h2 {
			font-size: 12px;
			padding-left: 24px;
			font-weight: bold;
			margin-bottom:5px;
		}
		
		ul{
			list-style-type: square;
		}
		
		ul ul{
			list-style-type: none;
			padding-left: 10px;
		}
		
        li {
			font-size: 11px;
			padding-left: 4px;
			margin-left: 0;
			
		}
		
			/*a:link {color:#FFFFFF;text-decoration:none}       unvisited link */
			/*a:visited {color:#FFFFFF;text-decoration:none}   visited link */
			/*a:hover {color:#FFFFFF;text-decoration:none}   mouse over link */
			/*a:active {color:#FFFFFF;text-decoration:none}   selected link */

		
		.menu ul li ul {
		    display:none;
		}
		.menu ul li.selected ul {
		    display:block;
		} 
       