<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="../newtemplate.xhtml">

	<ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{GuideReportUserController.preRenderView}" 
	        		type="preRenderView"/>
	    </f:metadata>
	</ui:define>
	
	<ui:param name="visit" value="#{GuideReportUserController.visitData}" />
	
    <ui:define name="content">
    	<p:breadCrumb>
		<p:menuitem value="Dashboard" url="/" />
		<p:menuitem value="Guide Report" url="/guide/#{GuideReportUserController.guide.id}/report" />
		<p:menuitem value="User" url="/guide/#{GuideReportUserController.guide.id}/report/#{GuideReportUserController.guide.id}" />
	</p:breadCrumb>
	<style type="text/css">
	    .ui-datalist-content {
	        border:none !important;
	    }
	</style>
	<br/><br/>
		<p:fieldset legend="Details" style="width: 200px; float: left">
				country: #{visit.country}<br/>
				city: #{visit.city}<br/>
				browser: #{visit.browser}<br/>
		</p:fieldset><br/>
		
				<p:fieldset legend="Statistics" style="width: 200px; float: right">
				Visits: #{visit.visits}<br/>
				Active Visits: #{visit.visitsWithEvent}<br/>
				Total Time: #{visit.timeOnSite}<br/>
		</p:fieldset><br/>
		
		<br/><br/><br/><br/><br/><br/>
		Scenes
		<p:dataTable var="v" value="#{GuideReportUserController.visits}">
			<p:column style="width:90px" headerText="Scene Title">
			    <h:outputText value="#{v.sceneTitle}" />
			</p:column>
			<p:column style="width:90px" headerText="Page Views">
			    <h:outputText value="#{v.pageViews}" />
			</p:column>
		</p:dataTable>
    	<br/>
		
		Events
		<p:dataTable var="event" value="#{GuideReportUserController.events}">
			<p:column style="width:90px" sortBy="#{event.category}" headerText="Category">
			    <h:outputText value="#{event.category}" />
			</p:column>
			<p:column style="width:90px" sortBy="#{event.action}" headerText="Action">
			    <h:outputText value="#{event.action}" />
			</p:column>
			<p:column style="width:90px" headerText="Scene Title">
			    <h:outputText value="#{event.sceneTitle}" />
			</p:column>
			<p:column style="width:90px" headerText="Hotspot Title">
			    <h:outputText value="#{event.hotspotTitle}" />
			</p:column>
		</p:dataTable>
    	<br/>
    </ui:define>
    
</ui:composition>