<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="../template.xhtml">

	
    <ui:define name="content">
		<h:form>
			<p:breadCrumb>
				<p:menuitem value="Dashboard" url="/" />
				<p:menuitem value="Guide Report" url="/guide/#{GuideReportController.guide.id}/report" />
			</p:breadCrumb>
			
<p:accordionPanel dynamic="true" cache="false">
<p:tab title="Guide Performance">
<h:panelGrid columns="2" cellpadding="0">

<p:dataList value="#{GuideReportController.getGuideBasicList()}" var="row" itemType="disc" >
	#{row.first}: #{row.second}
</p:dataList> 


<p:tabView id="guideTabs">

	<p:tab id="tab1" title="Visits">
		<h:panelGrid columns="1" cellpadding="10">


	<p:graphicImage value="#{GuideReportController.getGoogleLineChart(1)}" />
	</h:panelGrid>
	</p:tab>
	
	<p:tab id="tab2" title="Conversions">
		<h:panelGrid columns="1" cellpadding="10">
	<p:graphicImage value="#{GuideReportController.getGoogleLineChart(2)}" /> 
</h:panelGrid>
	</p:tab>
	
	<p:tab id="tab3" title="Time on Site">
		<h:panelGrid columns="1" cellpadding="10">
	<p:graphicImage value="#{GuideReportController.getGoogleLineChart(3)}" />


</h:panelGrid>
	</p:tab>
	
	<p:tab id="tab4" title="Scenes">
		<h:panelGrid columns="1" cellpadding="10">
	<p:graphicImage value="#{GuideReportController.getGoogleLineChart(4)}" />


</h:panelGrid>
	</p:tab>
	
</p:tabView>


<p:dataList value="#{GuideReportController.getSharesList()}" var="row" itemType="disc" >
	#{row.first}: #{row.second}
</p:dataList>

</h:panelGrid>
  </p:tab>



        
<p:tab title="Referral data">
<h:panelGrid columns="2" cellpadding="10">

                
 <h:form>
    <p:dataTable style="width:100px;" var="tableRow" value="#{GuideReportController.getReferrals()}">
        <p:column sortBy="#{tableRow.c1}"  >
            <f:facet name="header">
                    Referral Path
            </f:facet>
            
            <a href="http://#{tableRow.c4}"> <h:outputText value="#{tableRow.c1}" /> </a>
        </p:column>

        <p:column sortBy="#{tableRow.c2}">
            <f:facet name="header">
                    Visits
            </f:facet>
            <h:outputText value="#{tableRow.c2}" />
        </p:column>

        <p:column sortBy="#{tableRow.c3}">
            <f:facet name="header">
                    Pageviews per Visit
            </f:facet>
            <h:outputText value="#{tableRow.c3}" />
        </p:column>

    </p:dataTable>
    </h:form>

</h:panelGrid>
  </p:tab>
        


 <p:tab title="Scenes">
     <h:panelGrid columns="1" cellpadding="10">
	
	
	
                    
    
    
</h:panelGrid>
 </p:tab>
  
  
<p:tab title="Demographics">
<h:panelGrid columns="1" cellpadding="0">  
  <h:form>
    <p:dataTable style="width:100px;" var="tableRow" value="#{GuideReportController.getCountryTable()}">
        
        <p:column sortBy="#{tableRow.c1}"  >
            <f:facet name="header">
                    Country
            </f:facet>
            
             <h:outputText value="#{tableRow.c1}" /> 
        </p:column>

        <p:column sortBy="#{tableRow.c2}">
            <f:facet name="header">
                    Visits
            </f:facet>
            <h:outputText value="#{tableRow.c2}" />
        </p:column>

        <p:column sortBy="#{tableRow.c3}">
            <f:facet name="header">
                   Pageviews per visit
            </f:facet>
            <h:outputText value="#{tableRow.c3}" />
        </p:column>
        
         <p:column sortBy="#{tableRow.c4}">
            <f:facet name="header">
                    Average Time on Site
            </f:facet>
            <h:outputText value="#{tableRow.c4}" />
        </p:column>
        
   </p:dataTable>
    </h:form>
    
    </h:panelGrid>
  </p:tab>
  
  <p:tab title="Location Page">
<h:panelGrid columns="1" cellpadding="0">  

<p:dataList value="#{GuideReportController.getLocationPageConversions()}" var="row" itemType="disc" >
	#{row.first}: #{row.second}
</p:dataList> 

<p:dataList value="#{GuideReportController.getTimesChosenList()}" var="row" itemType="disc" >
	#{row.first}: #{row.second}
</p:dataList> 
 
 </h:panelGrid>
  </p:tab>
  
  <p:tab title="Destination Page">
<h:panelGrid columns="1" cellpadding="0">  

<p:dataList value="#{GuideReportController.getDestinationsVisited(false)}" var="row" itemType="disc" >
	#{row.first}: #{row.second}
</p:dataList> 

<p:dataList value="#{GuideReportController.getDestinationsVisited(true)}" var="row" itemType="disc" >
	#{row.first}: #{row.second}
</p:dataList>
 
 <p:graphicImage value="#{GuideReportController.getDestinationsBarChart(false)}" /> 
 
 
 </h:panelGrid>
  </p:tab>
  
  
  
  
  
  
  
  </p:accordionPanel>



</h:form>

    
 
    
    				
<br></br>
<br></br>

<p:tabView id="sceneTabs">

	<p:tab id="tab1" title="Visits">
		<h:panelGrid columns="1" cellpadding="10">


	<p:graphicImage value="#{GuideReportController.getSceneChart(1)}" />
	</h:panelGrid>
	</p:tab>
	
	<p:tab id="tab2" title="Time on Scene">
		<h:panelGrid columns="1" cellpadding="10">
	<p:graphicImage value="#{GuideReportController.getSceneChart(2)}" />
</h:panelGrid>
	</p:tab>
	
	<p:tab id="tab3" title="Conversions">
		<h:panelGrid columns="1" cellpadding="10">
		<p:graphicImage value="#{GuideReportController.getSceneChart(3)}" />
</h:panelGrid>
	</p:tab>
	
	
</p:tabView>
	

	
	<h:form><p:accordionPanel value="#{GuideReportController.getSceneAccordion()}" var="scene">
    <p:tab title="#{scene.title}">
				<h:panelGrid columns="2">
				<h:outputText value = "Pageviews: #{scene.pageviews}" />
				<h:outputText value = "Time Spent #{scene.timeSpent}" />
				<h:outputText value = "Book nows: #{scene.bookNows}" />
				<h:outputText value = "More Infos: #{scene.moreInfos}" />
				<h:outputText value = "Total Conversions: #{scene.totalConversions}" />
				<h:outputText value = "Percent Conversions: #{scene.percentConversion}" />
				<h:outputText value = "Percent View: #{scene.percentView}" />
				</h:panelGrid>
				
				<h:graphicImage value="#{scene.getContentBarChart()}" />
				<h:graphicImage value="#{scene.getHotspotTable()}" />
				
    </p:tab>
</p:accordionPanel></h:form>
    </ui:define>
</ui:composition>