@charset "utf-8";

*                   	{ margin:0; padding:0; outline:none; }


#contact_form					{	
width:497px;
height:300px;
padding:10px 0;
position:relative;
background-color: transparent;
background-repeat: no-repeat;
}

form fieldset					{ 
font-family:Verdana, Arial, Helvetica, sans-serif; font-size:1.2em;
margin:0px 0px 20px 0px; width:578px; position:relative;
border:0;display:block; padding: 0px 10px 8px; }

form fieldset legend	{ 
font-weight:bold; font-variant:small-caps; font-size:140%; padding:4px 8px;
margin:0px 0px 10px 0px; position:relative; top: -12px; background:white; }

label									{
	font-size:90%;
	display:block;
	float:left;
	width:10em;
	text-align:right;
	margin:.2em .2em 0 0;
	color:#000;
	font-weight:bold;
	padding:8px 0px;
}

label.error           { font-weight:normal;color:red;text-align:left;width:140px; padding-left:25px;
background: transparent url(/images/cancel.png) no-repeat scroll left; }

input.text-input			{
	margin:4px;
	padding:2px 0;
	color:#000;
}

label#name_label      { position:absolute; top:0; left:0; }
input#name            { position:absolute; top:0; left:110px; }
label#name_error      { position:absolute; top:22px; left:120px; }

label#email_label     { position:absolute; top:45px; left:0px; }
input#email           { position:absolute; top:45px; left:110px; }
label#email_error      { position:absolute; top:67px; left:120px; }

label#phone_label     { position:absolute; top:90px; left:0px; }
input#phone           { position:absolute; top:90px; left:110px; }
label#phone_error      { position:absolute; top:112px; left:120px; }

input.button					{
	position:absolute;
	top:125px;
	left:120px;
	padding:3px 6px;
	border:2px solid #fff;
	margin:20px 0px 0px 0px;
	color:#000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background:#CCC;
	-moz-border-radius:5px;
}

input.button:hover		{
	background:#009FAA none repeat scroll 0% 0%;
	color:#999;
}
#message							{ width:180px;margin:60px 0 0 100px; }
#message h2						{
	font-size:150%;
	color:#000;
}
#message p						{
	color:#000;
	font-weight:bold;
	margin:6px 0px;
}
#checkmark						{ position:relative;top:-46px;left:-60px; }
