p {
	font-size: 12px;
	color: #666;
}
	
h3 {
  margin: 0;	
  padding: 5px 0 0 0;
  font-size: 14px;
  text-transform: uppercase;
}

.icon1{
	position: relative;
	height: 42px;
	width: 42px;
	top:-12px;
	float: left;
	}
.btn_lable1{
	position: relative;
	height: 31px;
	width: 244px;
	left: 10px;
	top: 10px;
	float: left;
	}
	
.btn_lable1 h3 {
  font-size: 16px;
}

.icon2{
	position: relative;
	height: 42px;
	width: 42px;
	top:-12px;
	float: left;
	}
.btn_lable2{
	position: relative;
	height: 31px;
	width: 244px;
	left: 10px;
	top: 10px;
	float: left;
	}
	
.btn_lable2 h3 {
  font-size: 16px;
}	
.icon3{
	position: relative;
	height: 42px;
	width: 42px;
	top:-12px;
	float: left;
	}
.btn_lable3{
	position: relative;
	height: 31px;
	width: 244px;
	left: 10px;
	top: 10px;
	float: left;
	}	
	
.btn_lable3 h3 {
  font-size: 16px;
}

div#feature_list {
	width: 840px;
	height: 220px;
	overflow: hidden;
	position: relative;
}

div#feature_list ul {
	position: absolute;
	top: 15px;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 202px;

}

.feature_bg {
	left:10px;
	z-index: 0;
	width: 295px;
	height: 198px;
	background-image: url(../images/feature_bg.jpg);
	background-repeat: no-repeat;
	position: absolute;
	top: 13px;
}

ul#tabs {
	left: 11px;
	z-index: 2;
	width: 344px;

}

ul#tabs li {
	font-family: Arial;
}
		
ul#tabs li img {
	border: none;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

ul#tabs li a {
	color: #222;
	text-decoration: none;
	display: block;
	height: 46px;
	outline: none;
	background-image: url(../images/feature_bg.jpg);
	background-repeat: no-repeat;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

ul#tabs li a:hover {
  text-decoration: none;
}

ul#tabs li a.current {
  color: #FFF;
  background-image: url(../images/feature-tab-current.png);
  background-repeat: no-repeat;
}

ul#tabs li a.current:hover {
  text-decoration: none;
  cursor: default;
}

ul#output {
  right: 7px;
  width: 536px;
  height: 199px;
  position: relative;

}

ul#output li {
	position: absolute;
	width: 480px;
	height: 187px;
	left: 50px;
	top: 7px;

}

ul#output li a {
	position: absolute;
	bottom: 1px;
	right: -20px;
	padding: 8px 12px;
	font-size: 12px;
	color: #FFF;
	height: 30px;
	width: 100px;
	background-color: tranparent;
	background-image: url(../img/learn_more_up.png);
	background-repeat: no-repeat;		
	font-weight: bold;
	text-decoration: none;
}
		
ul#output li a:hover {
	
	height: 30px;
	width: 100px;
	background-image: url(../img/learn_more_down.png);
	background-repeat: no-repeat;	
	background-color: tranparent;
	text-decoration: none;
	
}

.clear {
	clear: both;
	line-height: 1px;
	font-size: 1px;
}
