/********************
 * FEATURE CAROUSEL *
 ********************/
#featureCarousel {
	height: 440px;
	width:1000px;
	position:relative;
	margin-right: 80px;
	margin-left: 80px;
	z-index: 0;
	float:left;
}

#featureipad {
	height: 428px;
	width:769px;
	position:relative;
	margin-right: 59px;
	margin-left: 59px;
	z-index: 0;
	float:left;
	background-image: url(../images/ipad_big.png);
	background-repeat: no-repeat;
	padding-top: 52px;
	padding-left: 274px;
}



#featureCarousel img {
    border:0;
}
#featureCarousel .feature {
    position:absolute;
    top:-1000px;
    left:-1000px;
    cursor:pointer;
}
#featureCarousel .feature > div {
    position:absolute;
    bottom:0px;
    left:0px;
    width:auto;
}
#featureCarousel .feature > div p {
	font-weight:bold;
	font-size:12px;
	color:white;
	height: 30px;
	width: 112px;
	background-color: transparent;
	background-image: url(../img/click_to_view_up.png);
	background-repeat: no-repeat;
	margin-left: 540px;
	padding-top: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 14px;	
}

#featureCarousel .feature > div p a {
	color: #FFF;
	text-decoration: none;	
}
#featureCarousel .feature > div p a:hover {
	color: #29abe2;
	text-decoration: none;		
}


#featureCarousel .blipsContainer {
    position:absolute;
    color:white;
    right:390px;
    top:446px;
    padding:0;
    margin:0;
}
#featureCarousel .blipsContainer .blip {
	margin:8px;
	pading-top: 2px;
	height:14px;
	width:14px;
	color:white;
	text-align:center;
	font-size:10px;

}
#featureCarousel .blipsContainer .blipSelected {
    color:white;
    font-weight:bold;
    background-color:black;
}

.pano_container{
	height: 440px;
	width: 700px;
	position:absolute;
	top: 0px;
}


/*.view a {
	position: absolute;
	padding: 8px 12px;
	font-size: 12px;
	color: #FFF;
	
	-moz-border-radius: 5px;
	background-color: #000;
	
	
		height: 30px;
	width: 100px;
	background-color: tranparent;
	background-image: url(../img/click_to_view_up.png);
	background-repeat: no-repeat;
	font-weight: bold;
	text-decoration: none;
	left: 550px;
	top: -40px;
	z-index: 20;
}
		
.view  a:hover {
		height: 30px;
        width: 100px;
		background-color: tranparent;
		
	background-image: url(../img/click_to_view_down.png);
	background-repeat: no-repeat;	
	text-decoration: none;
}
*/
