body {
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000;
	background-color: #29abe2;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
}
h1 {
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
}

h2 {
	font-weight: bold;
	color: #29aae3;
	font-size: 16px;
}

h3 {
	font-weight: bold;
	color: #29aae3;
	font-size: 13px;
	line-height: 0px;
}


.oneColFixCtrHdr #header {
	height: 116px;
	width: 1024px;
	padding-right: 10px;
	padding-left: 20px;
	margin-left: 54px;
	margin-right: 54px;
	float:left;
}

	
.nav{
	height: 80px;
	width: 623px;
	position: relative;
	left: 174px;
	top: 34px;
	float: left;
}

.terms{
	height: 80px;
	width: 547px;
	position: absolute;
	left: 598px;
	top: 34px;
}

.embed_terms{
	height: 80px;
	width: 701px;
	position: absolute;
	left: 404px;
	top: 34px;
}


.oneColFixCtrHdr #container {
	width: 1160px;
	text-align: left; /* this overrides the text-align: center on the body element. */
	height: auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.oneColFixCtrHdr #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}

.bg_fx{
	position:absolute;
	width:607px;
	height:82px;
	z-index: 2;
	background-image: url(../images/bg_fx.png);
	background-repeat: no-repeat;
	left: 391px;
	top: 516px;
	}
	
 /* Tab Slideout */	
	
.slide-out-div {
	width: 600px;
	height: 390px;
	z-index: 40;
	background-color: #FFF;
	font-size: 12px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 60px;
    }


.contact_info_box  {
	width: 190px;
	height: 390px;
	z-index: 44;
	position: relative;
	float: left;
	text-align: left;
    }

.contact_info_box a{
	color: #666;
	font-size: 12px;
	text-decoration: none;
}
.contact_info_box a:hover{
	color: #999;
	font-size: 12px;
	text-decoration: none;
}

.contact_info_box p {
	font-size: 12px;
	color: #666;
}

.contact_info_box h1{
	font-size: 14px;
	color: #29abe2;
}

.contact_info_box h2{
	font-size: 12px;
	color: #666;
}

.contact_qr  {
	width: 120px;
	height: 120px;
	z-index: 44;
	position: absolute;
	left: 27px;
	top: 275px;

    }

.divider_box {
	width: 42px;
	height: 390px;
	z-index: 44;
	position: relative;
	float: left;
    }
	
	
.form_box {
	width: 360px;
	height: 390px;
	z-index: 44;
	position: relative;
	float: left;
    }
	
	
	
.form_box a {
	color: #29aae3;
    }
.form_box a:hover {
	color: #666;
    }	
	
#carousel_container{
	overflow:hidden;
	position:relative;
	width:1160px;
	height:480px;
	z-index: 6;
	background-image: url(../images/slider_shadow.png);
	background-repeat: no-repeat;
	}


.oneColFixCtrHdr #mainFeatures {
	height: 262px;
	width: 1043px;
	margin-left: 54px;


}
.features_bg {
	height: 262px;
	width: 1043px;
	background-image: url(../images/features_bg.png);
	background-repeat: no-repeat;

}
.features_container{
	height: 220px;
	width: 840px;
	margin-left: 100px;
		z-index: 300
}
.oneColFixCtrHdr #mainContent {
	height: 225px;
	width: 1024px;
	padding-top: 0;
	padding-right: 15px;
	padding-bottom: 0;
	padding-left: 15px;
	margin-left: 54px;
	margin-right: 54px;
}


.oneColFixCtrHdr #footer {
	height: 160px;
	width: 1024px;
	margin-left: 54px;
	margin-right: 54px;
	padding-top: 60px;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 10px;
}
.oneColFixCtrHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}
.bottom_info{
	background-image: url(../images/botom_info_bg.png);
	background-repeat: no-repeat;
	height: 124px;
	width: 597px;
	position: absolute;
	left: 497px;
	top: 910px;
	z-index: 2;
	font-size: 12px;
}

.bottom_info h2{
	color: #000;
	font-size: 12px;
	display: inline;
}
.bottom_info p{
	color: #015088;
	font-size: 11px;
}

.bottom_info a{
	color: #015088;
	font-size: 11px;
	text-decoration: none;
}
.bottom_info a:hover{
	color: #666;
	font-size: 11px;
	text-decoration: none;
}

.info_box{
	height: 99px;
	width: 205px;
	position: absolute;
	left: 16px;
	top: 14px;
	z-index: 2;
	float: left;
}
.icon_mail{
	position: absolute;
	height: 34px;
	width: 34px;
	top: -4px;
	left: -1px;
	float: left;
}
.info_contact{
	position: absolute;
	height: 99px;
	width: 162px;
	top: 6px;
	left: 37px;
	color: #1679bf;
	font-size: 12px;
}


.subscribe_box{
	height: 99px;
	width: 337px;
	position: absolute;
	left: 245px;
	top: 13px;
	z-index: 2;
}
.icon_newsletter{
	position: absolute;
	height: 34px;
	width: 34px;
	top: -4px;
	left: -1px;
}
.info_newsletter{
	position: absolute;
	height: 52px;
	width: 294px;
	top: 6px;
	left: 37px;
}
.subscribe_form{
	position: absolute;
	height: 37px;
	width: 294px;
	top: 67px;
	left: 37px;
}

#email			{
	color:#FFF;
	background-color: #29aae3;
	height:20px;
	border: none;
}



.subscribe_btn_box{
	position: absolute;
	left: 212px;
	top: -1px;
}


.bottom_info_awards{
	height: 128px;
	width: 220px;
	position: absolute;
	left: 248px;
	top: 910px;
	z-index: 2;
}

.footer_info{
	height: 34px;
	width: 847px;
	position: absolute;
	left: 248px;
	top: 1061px;
	z-index: 2;

}
.footer_info p{
	color: #999;
	font-size: 10px;
}
.footer_info a{
	color: #999;
	font-size: 10px;
	text-decoration: none;
}
.footer_info a:hover{
	color: #666;
	font-size: 10px;
	text-decoration: none;
}
.footer_info_left{
	height: 34px;
	width: 400px;
	position: absolute;
	left: 1px;
	top: 0px;
	z-index: 2;
	font-size: 10px;
}
.footer_info_right{
	height: 34px;
	width: 383px;
	position: absolute;
	left: 465px;
	top: 0px;
	z-index: 2;
	font-size: 10px;
}



#partners_container{
	overflow:hidden;
	position:relative;
	width:1160px;
	height:740px;
	z-index: 6;
	background-image: url(../images/partners_bg.png);
	background-repeat: no-repeat;
	background-position: center top;
}
	
.side_nav {
	height: 686px;
	width: 177px;
	float: left;
	margin-left: 174px;
	margin-top: 20px;
}


.partners_info_container {
	height: 686px;
	width: 612px;
	float: left;
	margin-top: 20px;
	margin-left: 7px;	
}


#order_form_container{
	overflow:hidden;
	position:relative;
	width:1160px;
	height:auto;
	z-index: 6;
		float:left;

}
.form_box_top{
	height: 14px;
	width: 844px;
	float: left;
	margin-left: 160px;
	margin-top: 20px;
	background-image: url(../images/form_top_bg.png);
	background-repeat: no-repeat;
	z-index: 8;
}
.form_box{
	height: auto;
	width: 844px;
	float: left;
	margin-left: 160px;
	background-image: url(../images/form_middle_bg.png);
	background-repeat: repeat-y;
	z-index: 8;
}
.form_box_bottom{
	height: 14px;
	width: 844px;
	float: left;
	margin-left: 160px;
	background-image: url(../images/form_bottom_bg.png);
	background-repeat: no-repeat;
	z-index: 8;
}
#what_is_container{
	overflow:hidden;
	position:relative;
	width:1160px;
	height:740px;
	z-index: 6;
	background-image: url(../images/partners_bg.png);
	background-repeat: no-repeat;
	background-position: center top;
}
.what_is_info_container {
	height: 686px;
	width: 806px;
	float: left;
	margin-top: 20px;
	margin-left: 174px;	
}

.what_is_info_container h3{
		font-size: 12px;
	color: #000;
}
.what_is_info_container p{
		font-size: 12px;
	color: #000;
}

.what_is_info_container ul{
		font-size: 12px;
	color: #000;
}

.faq_info_container {
	height: 800px;
	width: 600px;
	float: left;
	
}.faq_information {
	height: 4100px;
	width: 600px;
}

.faq_operator {
	height: 600px;
	width: 600px;
}

.faq_partner {
	height: 600px;
	width: 600px;
}
.logo_container {
	float:left;
	width: 134px;
	height: 112px;
}


.form_head{
	height: auto;
	width: auto;
	float: left;
	margin-bottom: 0px;
	margin-left: 418px;
}

.form_head_terms{
	height: auto;
	width: auto;
	float: left;
	margin-top: 0px;
	margin-left: 249px;
}

.form_head_embed_terms{
	height: auto;
	width: auto;
	float: left;
	margin-top: 0px;
	margin-left: 249px;
}

.order_form_head{
	height: auto;
	width: 600px;
	float: left;
	margin-bottom: 10px;
	margin-left: 200px;
}
