body {
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000;
	background-color: #FFF;
	background-image: url(../images/main_bg.png);
	background-repeat: repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
}
h1 {
	font-size: 12pt;
}

h2 {
	font-size: 10pt;
}

h4 {
	font-size: 20pt;
}

.oneColFixCtrHdr #header {
	height: 116px;
	width: 1024px;
	padding-right: 10px;
	padding-left: 20px;
	margin-left: 54px;
	margin-right: 54px;
	float:left;
}
.nav{
	height: 80px;
	width: auto;
	position: relative;
	left: 174px;
	top: 34px;
	float: left;
	}
	
.oneColFixCtrHdr #container {
	width: 1160px;
	text-align: left; /* this overrides the text-align: center on the body element. */
	height: 1140px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;

}
.oneColFixCtrHdr #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}

.bg_fx{
	position:absolute;
	width:607px;
	height:68px;
	background-image: url(../images/bg_fx.png);
	background-repeat: no-repeat;
	left: 308px;
	top: 526px;
	}
	
 /* Tab Slideout */	
	
.slide-out-div {
	width: 600px;
	height: 390px;
	z-index: 100;
	background-color: #FFF;
	font-size: 12px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 60px;
    }



 /* Contact Info */	


.contact_info_box  {
	width: 190px;
	height: 390px;
	position: relative;
	float: left;
	text-align: left;
    }

.contact_info_box a{
	color: #666;
	font-size: 12px;
	text-decoration: none;
}
.contact_info_box a:hover{
	color: #999;
	font-size: 12px;
	text-decoration: none;
}

.contact_info_box p {
	font-size: 12px;
	color: #666;
}

.contact_info_box h1{
	font-size: 14px;
	color: #29abe2;
}

.contact_info_box h2{
	font-size: 12px;
	color: #666;
}

.contact_qr  {
	width: 130px;
	height: 130px;
	z-index: 44;
	position: absolute;
	left: 79px;
	top: 1423px;

    }
	
.divider_box {
	width: 42px;
	height: 390px;
	z-index: 44;
	float: left;
    }
	
	
.form_box {
	width: 360px;
	height: 400px;
	z-index: 44;
	float: left;
    }
	
.form_box a {
	color: #29aae3;
    }
.form_box a:hover {
	color: #666;
    }	

#featureiframe {
	height: 480px;
	width: 800px;
	position:relative;
	margin-right: 59px;
	margin-left: 59px;
	z-index: 0;
	float:left;
	background-image: url(../images/ipad_big.png);
	background-repeat: no-repeat;
	padding-top: 0px;
	padding-left: 120px;
	padding-right: 120px;
}


.top_banner{
	height: 100px;
	width: 800px;
	position:relative;
	margin-right: 59px;
	margin-left: 59px;
	z-index: 0;
	float:left;
	padding-top: 0px;
	padding-left: 120px;
	padding-right: 120px;
	text-align: center;
	color: #FFF;
}

#viewer_container{
	overflow:hidden;
	position:relative;
	width:1160px;
	height:580px;
	margin-bottom: 40px;
	z-index: 12;
	background-image: url(../images/slider_shadow.png);
	background-repeat: no-repeat;
	float:left;
	}


.oneColFixCtrHdr #mainFeatures {
	height: 262px;
	width: 1043px;
	margin-left:59px;
	margin-right: 59px;
	float:left;
	z-index: 12;

}



.features_bg {
	height: 262px;
	width: 1043px;
	background-image: url(../images/features_bg.png);
	background-repeat: no-repeat;

}
.features_container{
	height: 220px;
	width: 840px;
	margin-left: 100px;
	z-index: 300
}
.oneColFixCtrHdr #mainContent {
	height: 225px;
	width: 1024px;
	padding-top: 0;
	padding-right: 15px;
	padding-bottom: 0;
	padding-left: 15px;
	margin-left: 54px;
	margin-right: 54px;
}


.oneColFixCtrHdr #footer {
	height: 190px;
	width: 960px;
	margin-left:40px;
	margin-right: 40px;
	float:left;
	padding-top: 50px;
	padding-right: 60px;
	padding-bottom: 0;
	padding-left: 60px;
}
.oneColFixCtrHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}


.bottom_info_awards{
	height: 128px;
	width: 220px;
	position: inherit;
	float:left;
	z-index: 2;
	margin-left:60px;
}


.bottom_info{
	background-image: url(../images/botom_info_bg.png);
	background-repeat: no-repeat;
	height: 124px;
	width: 597px;
	position: inherit;
	z-index: 2;
	font-size: 12px;
	float:left;
	margin-left: 25px;
}

.bottom_info h2{
	color: #000;
	font-size: 12px;
	display: inline;
}
.bottom_info p{
	color: #015088;
	font-size: 11px;
}

.bottom_info a{
	color: #015088;
	font-size: 11px;
	text-decoration: none;
}
.bottom_info a:hover{
	color: #666;
	font-size: 11px;
	text-decoration: none;
}

.info_box{
	height: 99px;
	width: 205px;
	position: inherit;
	left: 484px;
	top: 923px;
	z-index: 2;
	float: left;
	margin-top:12px;
	margin-left:14px;
}

.icon_mail{
	position: inherit;
	height: 34px;
	width: 34px;
	float: left;
}
.info_contact{
	position: inherit;
	height: 90px;
	width: 162px;
	color: #1679bf;
	font-size: 12px;
	float: left;
	margin-top:10px;
}


.subscribe_box{
	height: 110px;
	width: 337px;
	position: inherit;
	z-index: 2;
	float:left;
	margin-top:12px;
	margin-left:27px;
}
.icon_newsletter{
	position: inherit;
	height: 34px;
	width: 34px;
	float: left;
}
.info_newsletter{
	position: inherit;
	height: 52px;
	width: 294px;
	float: left;
	margin-top:10px;
}
.subscribe_form{
	position: inherit;
	height: 35px;
	width: 336px;
	float: left;
	margin-top:10px;
}

#email			{
	color:#FFF;
	background-color: #29aae3;
	height:20px;
	border: none;
	float:left;
	margin-left:32px;
	margin-top:2px;
}


.subscribe_btn_box{
	position: inherit;
	float: left;
	width: 90px;
	margin-left:10px;
}

.subscribe_btn {
	border:none;
	bottom: 1px;
	right: 2px;
	font-size: 12px;
	color: #FFF;
	/*
	behavior: url(css/border-radius.htc);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	*/
	background-color: transparent;
	font-weight: bold;
	text-decoration: none;
	height: 26px;
	width: 86px;
	background-image: url(../img/submit_btn_up.gif);
	background-repeat: no-repeat;

}

		
.subscribe_btn:hover {
	background-color: transparent;
	font-weight: bold;
	text-decoration: none;
	height: 26px;
	width: 86px;
	background-image: url(../img/submit_btn_down.gif);
	background-repeat: no-repeat;


}


.footer_info{
	height: 34px;
	width: 847px;
	position: inherit;
	z-index: 2;
	float:left;
	margin-top:12px;
	margin-left:60px;
	margin-right:60px;
}
.footer_info p{
	color: #999;
	font-size: 10px;
}
.footer_info a{
	color: #999;
	font-size: 10px;
	text-decoration: none;
}
.footer_info a:hover{
	color: #666;
	font-size: 10px;
	text-decoration: none;
}

.footer_info_left{
	height: 34px;
	width: 440px;
	position: inherit;
	z-index: 2;
	font-size: 10px;
	float:left;
}

.footer_info_right{
	height: 34px;
	width: 314px;
	position: inherit;
	z-index: 2;
	font-size: 10px;	
	float:left;
	margin-left:92px;
}



#partners_container{
	overflow:hidden;
	position:relative;
	width:1160px;
	height:740px;
	z-index: 6;
	background-image: url(../images/partners_bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	float:left;
}
	
.side_nav {
	height: 686px;
	width: 177px;
	float: left;
	margin-left: 174px;
	margin-top: 20px;
}


.partners_info_container {
	height: 686px;
	width: 612px;
	float: left;
	margin-top: 20px;
	margin-left: 7px;	
}


.oneColFixCtrHdr #form_container {
	width: 1160px;
	text-align: left; /* this overrides the text-align: center on the body element. */
	height: 1140px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	
}
.order_form_container {
	height: 686px;
	width: auto;
	float: left;
	margin-left: 174px;
	margin-top: 20px;	
}

#what_is_container{
	overflow:hidden;
	position:relative;
	width:1160px;
	height:740px;
	z-index: 6;
	background-image: url(../images/partners_bg.png);
	background-repeat: no-repeat;
	background-position: center top;
}
.what_is_info_container {
	height: 686px;
	width: 806px;
	float: left;
	margin-top: 20px;
	margin-left: 174px;	
}

.what_is_info_container h3{
		font-size: 12px;
	color: #000;
}
.what_is_info_container p{
		font-size: 12px;
	color: #000;
}

.what_is_info_container ul{
		font-size: 12px;
	color: #000;
}

.faq_info_container {
	height: 800px;
	width: 600px;
	float: left;
	
}.faq_information {
	height: 4100px;
	width: 600px;
}

.faq_operator {
	height: 600px;
	width: 600px;
}

.faq_partner {
	height: 600px;
	width: 600px;
}
.image {
	height: 259px;
	width: 324px;
	position: absolute;
	left: 243px;
	top: 92px;
}

.intro_image {
	height: 140px;
	width: 562px;
	position: absolute;
	left: 383px;
	top: 80px;
	z-index: 40;
}


img.floatRight { 
    float: right; 
    margin: 4px;
	
}

img.floatLeft { 
    float: left;
    margin: 4px;
	
}



.comment {
	height: auto;
	width: 177px;
	float: left;
	margin-left:0px;
	margin-top: 20px;
}

.comment p{
	color: #666;
	font-size: 11px;
	font-style: italic;
}


em{
	font-size: 11px;
	color: #999;
	line-height:20px;
}
hr {
	color: #CCC;
	background-color: #CCC;
	height: 1px;
	border:none
}

.intro_content{
	height: 340px;
	width: 600px;
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	padding-left:16px;
	}
.intro_content p{
	margin:0;
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:20px;
	padding: 0px;
}

.intro_content h2{
	color: #666;
	font-size: 13px;
	text-transform: uppercase;	
}

.intro_content h3{
	color: #29abe2;
	font-size: 20px;
	padding-bottom: 12px;
}
.logo_container {
	float:left;
	width: 134px;
	height: 112px;
}
