@charset "utf-8";
/* CSS Document */


.order_form_box{
	width: 808px;
	height: auto;
	float: left;
	margin-bottom: 10px;
}

.order_form_box_head{
	width: 600px;
	height: 30px;
	float: left;
	margin-bottom: 10px;
	padding-left: 200px;
	font-size: 12px;
	font-weight: normal;
	color: #666;
}

.order_form_box_info{
	width: 600px;
	height: auto;
	float: left;
	margin-bottom: 10px;
	padding-left: 200px;
	font-size: 12px;
	font-weight: normal;
	color: #666;
}

.order_form_label_container{
	width: 200px;
	height: auto;
	float: left;

}

.order_form_label_box{
	width: 140px;
	height: auto;
	float: left;
	margin-top: 6px;
	margin-right: 20px;
	margin-left: 40px;
	margin-bottom: 6px;	
}

label{
	width: 140px;
	height: 20px;	
	float: left;
	font-size: 12px;
	text-align: right;
}

.order_form{
	width: 600px;
	height: auto;
	float: left;
	margin-bottom: 40px;
	font-size: 12px;
	color: #666;
}
.order_form_wraper{
	width: 600px;
	height: 30px;
	float: left;
	margin-bottom: 6px;
	font-size: 12px;
}

.order_form_agreement_box{
	width: 300px;
	height: 20px;
	float: left;
	margin-top: 6px;
	margin-left: 10px;

}

.order_form_agreement_wraper{
	width: auto;
	height: 30px;
	float: left;
	font-size: 12px;

}

.order_form_address_wraper{
	width: 600px;
	height: auto;
	float: left;
	margin-bottom: 6px;	
}

.order_form_scene_name_wraper{
	width: 200px;
	height: auto;
	float: left;
	margin-bottom: 6px;	
	padding-left: 14px;	
}

.order_form_scene_disc_wraper{
	width: 200px;
	height: auto;
	float: left;
	margin-bottom: 6px;	
	padding-left: 14px
}

.order_form_scene_btn_wraper{
	width: 200px;
	height: 40px;
	float: left;
	margin-bottom: 6px;	
	padding-left: 14px;	
}
.order_form_scene_label_box{
	width: 80px;
	height: auto;
	float: left;
	margin-top: 6px;
	margin-right: 12px;
	margin-left: 20px;
	margin-bottom: 6px;	
}
.order_form_scene_label_box label{
	width: 100px;
	height: 20px;	
	float: left;
	font-size: 12px;
	text-align: left;
}

.order_form_plan_info_wraper{
	width: 600px;
	height: auto;
	float: left;

}

.order_form_plan_info{
	width: 140px;
	height: auto;
	float: left;
	margin-top: 6px;
	margin-right: 6px;
	margin-left: 6px;
	margin-bottom: 6px;
	font-size: 12px;
}

.image_box{
	height: 100px;
	width: 100px;
	margin-top: 20px;
	margin-left: 174px;
}

.message_thanks {
	margin-left: 36px;
}

.sub_message_thanks {
	margin-left: 104px;
}

.message_oops {
	margin-left:108px;
}

.sub_message_oops {
	margin-left: 178px;
}