<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="../template.xhtml">

	<ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{PhotoShootController.preRenderView}" type="preRenderView"/>
	    </f:metadata>
	</ui:define>
    <ui:define name="content">
    
    <p:breadCrumb>
		<p:menuitem value="Dashboard" url="/" />
		<p:menuitem value="PhotoShoot" url="/shoot/#{PhotoShootController.photoShoot.id}" />
	</p:breadCrumb>

    <h:form>
    <p:growl id="info" showDetail="true" autoUpdate="true"/>
    <p:panel header="PhotoShoot Details" id="shootDetails" style="width:800px"> 
	    <table width="700" border="0" >
		  <tr>
		    <td>state</td>
		    <td><h:outputText value="#{PhotoShootController.photoShoot.wfstate}" /></td>
		  </tr>
		  <tr>
		    <td>customer_name</td>
		    <td><h:outputText value="#{PhotoShootController.photoShoot.customer_name}" /></td>
		  </tr>
		  <tr>
		    <td>scene_location</td>
		    <td><h:outputText value="#{PhotoShootController.photoShoot.locationTitle}" /></td>
		  </tr>
		  <tr>
		    <td width="147">shoot_instructions</td>
		    <td width="537"><h:outputText value="#{PhotoShootController.photoShoot.shoot_instructions}" /></td>
		  </tr>
		  <tr>
		    <td>shoot_preferred_date</td>
		    <td><h:outputText value="#{PhotoShootController.photoShoot.dates}" /></td>
		  </tr>
		  <tr>
		    <td>shoot_full_name</td>
		    <td><h:outputText value="#{PhotoShootController.photoShoot.shoot_full_name}" /></td>
		  </tr>
		  <tr>
		    <td>shoot_telephone</td>
		    <td><h:outputText value="#{PhotoShootController.photoShoot.shoot_telephone}" /></td>
		  </tr>
		  <tr>
		    <td>shoot_email</td>
		    <td><h:outputText value="#{PhotoShootController.photoShoot.shoot_email}" /></td>
		  </tr>
		  <tr>
		    <td>shoot_time</td>
		    <td><h:outputText value="#{PhotoShootController.photoShoot.shoot_time}" /></td>
		  </tr>
		  <tr>
		    <td>team</td>
		    <td><h:outputText value="#{PhotoShootController.photoShoot.teamId}" /></td>
		  </tr>
		  <tr>
		    <td>comments</td>
		    <td><h:outputText value="#{PhotoShootController.photoShoot.comments}" /></td>
		  </tr>
		  <tr>
		    <td>num scenes</td>
		    <td><h:outputText value="#{PhotoShootController.photoShoot.numScenes}" /></td>
		  </tr>
		</table>
		<p:dataTable  var="ewScene" width="200"
				value="#{PhotoShootController.photoShoot.scenesMap}" 
		        emptyMessage="No scenes found.">
		
		    <p:column headerText="Name">
		        <h:outputText value="#{ewScene.scene_name}" />
		    </p:column>
		
		    <p:column headerText="Shooting Requirements">
		        <h:outputText value="#{ewScene.shooting_requirements}" />
		    </p:column>
		    
		</p:dataTable>
	    <f:facet name="footer">
		    <ui:fragment rendered='#{PhotoShootController.photoShoot.status == "New"}'>
			    <p:commandButton value="ACCEPT" ajax="true"
					action="#{PhotoShootController.acceptPhotoShoot}"/>
		    </ui:fragment>
		    
		    <ui:fragment rendered='#{PhotoShootController.photoShoot.status == "Assigned"}'>
			    <p:commandButton value="ACCEPT" ajax="true"
					action="#{PhotoShootController.acceptPhotoShoot}"/>
			    <p:commandButton value="DECLINE" ajax="true"
					action="#{PhotoShootController.declinePhotoShoot}"/>
		    </ui:fragment>
		    
		    <ui:fragment rendered='#{PhotoShootController.photoShoot.status == "Accepted"}'>
			    <h:commandButton value="PRINT" type="button" icon="ui-icon-print">  
			        <p:printer target="shootDetails" />  
			    </h:commandButton>
			    <p:commandButton value="PROCESS" ajax="true"
					action="#{PhotoShootController.processPhotoShoot}"/>
		    </ui:fragment>
		    <ui:fragment rendered='#{PhotoShootController.photoShoot.status == "Processed"}'>
			    <p:commandButton value="EDIT" ajax="true"
					action="#{PhotoShootController.processPhotoShoot}"/>
		    </ui:fragment>
	    </f:facet>
	</p:panel>
    
		</h:form>
    </ui:define>
</ui:composition>