html, body {
    height:     100%;
    padding:    0;
    margin:     0;
    font-size:  12px;
}

#pano-outer {
    position:   relative;
    top:        100px;
    left:       100px;
    width:      80%;
    height:     80%;
}

#pano {
    position:   absolute;
    top:        0;
    left:       0;
    width:      100%;
    height:     100%;
}