<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../newtemplate.xhtml">
                
<script src="resources/js/jquery.min.js"></script>

    <ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{LeadEmailController.preRenderView}" 
	        		type="preRenderView"/>
	    </f:metadata>
	</ui:define>
	
    <ui:define name="content">
		<h:form prependId="false">
                    <p:messages autoUpdate="true" />
                    <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>
              
					<p:dialog modal="true" widgetVar="statusDialog" header="Status"   
        			draggable="false" closable="false">  
    				<p:graphicImage value="/resources/images/ajaxLoadingBar.gif" />  
					</p:dialog>  
					
					 <h2><h:outputText value="#{LeadEmailController.leadEmail} - #{LeadEmailController.leadBusinessName} - http://#{LeadEmailController.leadWebsite}" /></h2>

					 Email Subject: <p:inputText id="Subject" value="#{LeadEmailController.emailSubject}" style="margin-left: 8px;margin-bottom: 5;width:450px" />   
					                    <p:selectOneMenu id="campaigns" style="margin-bottom: -8px; margin-left: 8px;position: relative; width: 200px" value="#{LeadEmailController.campaign_name}" >  
               		  <f:selectItem itemValue="" itemLabel="This lead only" />
               		  <f:selectItems value="#{LeadEmailController.leadCampaigns}" />                      
			 </p:selectOneMenu>  
			 Save Template: <p:inputText id="newReference" value="#{LeadEmailController.newReferenceName}"  style="margin-left: 8px;margin-bottom: 5;width:120px" />   
					               
		<p:commandButton value="Send Email"  action="#{LeadEmailController.sendEmailButton()}" icon="ui-icon-mail-closed" style="margin-left: 8px;margin-bottom: 10px;width:200px; height: 30px"  />
		

			 <br/>
    <script>
		function linkInTextArea(a, b, c, d)
		{
			guideid = a, guidename = b, guidethumb = c, email = d;
			var email_link = '<li><a href="http://beek.co/g'+ guideid +'?email='+ email +'">' + guidename +'</a></li>';
			$('#editor_input').val($('#editor_input').val()+ email_link);
			UpdateFields()
			
		}
		
		function UpdateFields() {
		    for (instance in CKEDITOR.instances) {
		        CKEDITOR.instances[instance].updateElement();
		    }
		}
	</script>
<p:layout style="" id="layout">  

    <p:layoutUnit size="33%" position="west" resizable="false">
    
       	<p:accordionPanel value="#{LeadEmailController.references}" var="reference">  
	    <p:tab title="#{reference.shortname}">  
	        <h:panelGrid columns="1" cellpadding="10">
	                <h:outputText value="#{reference.text}" style="font-weight: bold" escape="false"/>
	        </h:panelGrid>  
	  
	    </p:tab>  
	</p:accordionPanel>  
    </p:layoutUnit>  
  
  
    <p:layoutUnit position="center" resizable="true">  
      	 <p:editor id="editor" value="#{LeadEmailController.emailText}"/>
    </p:layoutUnit>  

</p:layout>  




   
   

   
  
    			

 
    </h:form>
    </ui:define>
</ui:composition>