<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../newtemplate.xhtml">
    <ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{LeadListController.preRenderView}" 
	        		type="preRenderView"/>
	    </f:metadata>
	</ui:define>

	<h:head>

		<h:outputStylesheet library="css" name="style.css"/>


	</h:head>

    <ui:define name="content">
       <p:growl id="growl" showDetail="true" sticky="true" /> 


            <p:layout>
				<p:layoutUnit position="west" size="400">
					<h:form id="Leads">

					<p:commandButton value="New Lead"  icon="ui-icon-plus" action="#{LeadListController.newLead}"/>


					<p:spacer height="20" width="100%" />

					<p:selectOneMenu id="campaignsList" value="#{LeadListController.campaignId}" onstart="email.enable();"   oncomplete="$('.email').show()" >
						<f:selectItem itemValue="default" itemLabel="Select Campaign" />
						<f:selectItems value="#{LeadListController.getCampaigns()}" var="Campaigns" itemValue="#{Campaigns.campaignId}" itemLabel="#{Campaigns.campaign_name}" />
						<p:ajax listener="#{LeadListController.searchCampaign()}" update="Leads:leadlist Leads:email" />  // Leads:tabs:schedule :Leads:tabs:Todaylist :Leads:tabs:OlderList
					</p:selectOneMenu>

					<p:commandButton id="email" icon="ui-icon-mail-closed" value="Email"  immediate="true" disabled="#{empty LeadListController.campaignId}"   actionListener="#{LeadListController.redirectCampaignEmail()}"/>

						<p:spacer height="5"  width="100%"/>

						<p:commandButton id="old"   icon="ui-icon-calendar" value="Old" actionListener="#{LeadListController.oldLeads}" />
						<p:commandButton id="today"   icon="ui-icon-calendar" value="today" actionListener="#{LeadListController.todayLeads}" />
						<p:commandButton id="AllLeads"  icon="ui-icon-calendar" value="All" actionListener="#{LeadListController.allLeads}" />

						<p:spacer height="20"  width="100%"/>


					<p:spacer height="10"  width="70"/>

					<p:inputText id="searchTerm" value="#{LeadListController.searchTerm}" />
					<p:commandButton value="Search"  update="leadlist" icon="ui-icon-search"
									 action="#{LeadListController.searchButton()}"/>



					<p:dataTable var="showLeadList" id="leadlist"    styleClass="borderless"
													value="#{LeadListController.showLeadList}"
													emptyMessage="No leads found."
													paginator="true" rows="50"  paginatorAlwaysVisible="false">

							<p:column>

								<p:commandLink style="text-decoration: none;" action="#{LeadListController.loadLead(showLeadList.id)}">
									<p:panelGrid   columns="2"  style="width: 100%" columnClasses="ui-grid-col-4, ui-grid-col-8" layout="grid">

										<f:facet name="header">
											<h:outputText style="font-size: 16px;font-weight:bold" value="#{showLeadList.bn}" />
										</f:facet>
										<h:outputText style="font-size: 16px;" styleClass="circle" value="#{showLeadList.pc}%"/> <h:outputText style="width: 100%; font-size: 11px;" value="#{showLeadList.getNewCommentsShort()}" />
										<h:outputText style="font-size: 16px;font-weight:bold; float: right" value="#{showLeadList.next_action}"/> <h:outputText value="#{showLeadList.next_action_date}"/>

									</p:panelGrid>
								</p:commandLink>

						 </p:column>

					 </p:dataTable>

					</h:form>
				</p:layoutUnit>
				<p:layoutUnit position="center" minSize="400">

				<h:form id="leadDetails">

					<p:panelGrid columns="3" style="margin: 10px 10%" columnClasses="ui-grid-col-4, ui-grid-col-8, ui-grid-col-4" layout="grid" >

						<p:column>
							<span Class="circle circleLarge" ><h:outputText id="output"  value="#{LeadEditController.getPercentCompleteIntString()}"/>%</span>
						</p:column>
						<p:column>
							<p:slider for="output" value="#{LeadEditController.percentCompleteInt}" style="margin: 40px 20px"  display="output"  displayTemplate="{value}" step="5">
								<p:ajax event="slideEnd" update="Leads:leadlist" listener="#{LeadEditController.onSlideEnd}"/>
							</p:slider>
						</p:column>
						<p:column>
							<p:commandButton value="Save" style="height: 50px; width: 100px; font-size: 16px; margin-left: 50%;margin-top: 20px;" actionListener="#{LeadEditController.saveLead()}" icon="ui-icon-disk"/>
								</p:column>

					</p:panelGrid>

					<p:panelGrid columns="2" style="margin: 10px 10%; width: 80%" columnClasses="topAligned ui-grid-col-8, topAligned ui-grid-col-4">
						<p:panel header="Notes" >
							<p:inputTextarea rows="15" style="width: 99%" value="#{LeadEditController.newComments}"/>
						</p:panel>

						<p:panel header="Next.."  style="width: 230px">
							<p:selectOneMenu style="width: 220px" value="#{LeadEditController.nextAction}">
								<f:selectItem itemLabel="Call" itemValue="Call" />
								<f:selectItem itemLabel="Email" itemValue="Email" />
								<f:selectItem itemLabel="Meet" itemValue="Meet" />
								<f:selectItem itemLabel="Quote" itemValue="Quote" />
								<f:selectItem itemLabel="Book Shoot" itemValue="Book Shoot" />
								<f:selectItem itemLabel="Shoot" itemValue="Shoot" />
								<f:selectItem itemLabel="Process" itemValue="Process" />
								<f:selectItem itemLabel="Invoice" itemValue="Invoice" />
							</p:selectOneMenu>
							<br/>
							<p:calendar  mode="inline" id="nextaction" value="#{LeadEditController.nextActionDateFormat}"/>

						</p:panel>

					</p:panelGrid>

					<p:panelGrid columns="3" style="margin: 10px 10%" columnClasses="topAligned, topAligned, topAligned">


						<p:panel header="Organisation" style="width: 230px">
							<span> Name</span><br/>
							<p:inputText id="orgName" value="#{LeadEditController.orgName}" style=" width:200px"/>
							<br/><br/>
							<span> Website</span><br/>
							<p:inputText id="orgWebsite" value="#{LeadEditController.orgWebsite}" style=" width:200px"/>


						</p:panel >
						<p:panel header="Contact" style="width: 230px">

							Name<br/>
							<p:inputText id="firstName" value="#{LeadEditController.firstName}" style="width:200px"/>
							<br/> <br/>Surname<br/>
							<p:inputText id="lastName" value="#{LeadEditController.lastName}" style="width:200px"/>
							<br/> <br/>Email<br/>
							<p:inputText id="emailButton" value="#{LeadEditController.email}" style="width:200px"/>
							<br/><br/> Telephone<br/>
							<p:inputText id="telephone" value="#{LeadEditController.telephone}" style="width:160px"/>





					</p:panel>
						<p:panel header="Campaigns" style="width: 230px">

							<span> Current Campaigns</span><br/>

							<p:dataTable width="200px" style="width:200px" id="leadCampaigns" var="leadCampaigns" value="#{LeadEditController.leadCampaigns}">
								<p:column>
									<h:outputText value="#{leadCampaigns}" />
								</p:column>
							</p:dataTable>
							<br/>
							<span> Add/Remove Campaign</span><br/>
							<p:selectOneMenu id="campaigns" style="float: left; width: 200px; overflow-x: hidden" value="#{LeadEditController.new_campaign_name}" >
								<f:selectItem itemValue="default" itemLabel="Select campaign" />
								<f:selectItems value="#{LeadEditController.getCampaigns()}" var="Campaigns" itemValue="#{Campaigns.campaign_name}" itemLabel="#{Campaigns.campaign_name}" />
								<p:ajax listener="#{LeadEditController.addCampaign()}" process="@this"   event="change" execute="@form" update="leadCampaigns"  render="leadCampaigns" />
							</p:selectOneMenu>

							<br/>
							<p:inputText id="newCampaign" value="#{LeadEditController.newCampaign}" style="width:170px; margin-top: 0px"/>
							<p:commandButton value="" style="width:25px; height: 25px; margin-top: 20px" icon="ui-icon-plus" action="#{LeadEditController.newCampaignButton()}">
								<f:ajax event="click" execute="@form" process="@this"  update="leadCampaigns campaigns" render="leadCampaigns campaigns"/>
							</p:commandButton>


						</p:panel>

					</p:panelGrid>


					<p:dataTable var="email" id="leadEmailList"  style="margin: 10px 10%" rowExpandMode="single" styleClass="borderless"
								 value="#{LeadEditController.leadEmails}"
								 emptyMessage="No leads found."
								 paginator="true" rows="5"  paginatorAlwaysVisible="false">

						<f:facet name="header">
							<p:commandButton id="newEmail" update=":emailForm"  oncomplete="PF('modalEmail').show()" icon="ui-icon-mail-closed" value="New Email" style="margin-left: 10px; float: left;height: 50px; width: 100px; font-size: 16px;" immediate="true" actionListener="#{LeadEditController.redirectLeadEmail()}"/>
							<p:commandButton id="newCall" update=":emailForm"  oncomplete="PF('modalCall').show()" icon="ui-icon-person" value="New Call" style="margin-left: 10px; float: left;height: 50px; width: 100px; font-size: 16px;" immediate="true"/>

							Communications

						</f:facet>


						<p:column width="100">
							<h:outputText value="#{email.date_updated}"  />
						</p:column>

						<p:column width="100">
							<h:outputText value="#{email.email_from}" />
						</p:column>

						<p:column width="100">
							<h:outputText value="#{email.subject}" />
						</p:column>

						<p:column width="10">
							<p:rowToggler />
						</p:column>
						<p:rowExpansion>
							<h:outputText escape="false" value="#{email.content}" />
						</p:rowExpansion>

					</p:dataTable>

					<h:panelGroup id="trackedVisitsContainer"   >
						<p:ajaxStatus rendered="#{LeadEditController.leadVisits.size() > 0}">
							<f:facet name="start">
								<p:graphicImage style="margin-left: 40%" library="images" name="ajaxLoadingBar.gif" />
							</f:facet>

						</p:ajaxStatus>

						<p:dataGrid id="trackedVisits" lazy="true" layout="grid" style="margin: 10px 10%" var="visitByUser" rendered="#{LeadEditController.isVisitsDataLoaded()}" emptyMessage="Loading: #{LeadEditController.leadVisits.size()}" styleClass="guides"  value="#{LeadEditController.visitsData}" >

							<f:facet name="header">
								Tracked Visits <h:outputText value="#{LeadEditController.leadVisits.size()}" />
							</f:facet>

							<p:panel headerText="Guide thumb" style="width:150px">
								 <img src="http://cdn.beek.co/#{LeadEditController.getGuideThumbFromId(visitByUser.guide.id)}" style="width:150px;height:150px" />
								<div id='#{visitByUser.guide.id}' title='#{visitByUser.visit.id}' class="stats">
									<b>Visit Date: </b><h:outputText value="#{visitByUser.dateString}" >
									<f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
								</h:outputText> <br/>
									<b>Scenes: </b><h:outputText value="#{visitByUser.scenesCount}" /> <br/>
									<b>Duration: </b><h:outputText value="#{visitByUser.durationString}" /> <br/>

									<p:commandLink update="reportForm:eventReport" oncomplete="PF('modalVisitEventReport').show()" title="View Report">
										<h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />
										<f:setPropertyActionListener value="#{visitByUser}" target="#{LeadEditController.selectedVisit}" />
									</p:commandLink>


								</div>
							</p:panel>


						</p:dataGrid>
					</h:panelGroup>
					<p:remoteCommand name="loadSecondaryData" autoRun="true" actionListener="#{LeadEditController.loadSecondaryData}"/>
				</h:form>

				</p:layoutUnit>

		</p:layout>

		<p:dialog  widgetVar="modalEmail"  appendToBody="true" styleClass="modalSceneText" modal="true" dynamic="true" >

			<p:panelGrid columns="2" columnClasses="topAligned, topAligned">
				<h:form id="emailExtras">
				<p:tabView id="emailExtrasTab">

					<p:ajax event="tabChange" listener="#{GuideDashboardController.loadData}" update="emailExtras:emailExtrasTab:guides"  />

					<p:tab title="Templates" id="templates">
						<p:scrollPanel mode="native" style="width:220px;height:300px">
							<p:accordionPanel activeIndex="-1" value="#{LeadEmailController.references}"  var="reference">
								<p:tab title="#{reference.shortname}">
									<h:panelGrid columns="1" cellpadding="10">
										<h:outputText value="#{reference.text}" style="font-weight: bold" escape="false"/>
									</h:panelGrid>

								</p:tab>
							</p:accordionPanel>
						</p:scrollPanel>
					</p:tab>
					<p:tab title="Tracked Guides" id="guides" >

							<h:panelGroup id="guideList" columns="1">
								<p:inputText value="#{GuideDashboardController.searchTerm}" />
								<p:commandButton value="Search"  update="guideList" action="#{GuideDashboardController.searchButton('false')}"/>

								<p:dataGrid var="guide" value="#{GuideDashboardController.searchResults}" lazy="true" columns="5"
											 paginator="true" paginatorAlwaysVisible="false"  paginatorPosition="top" rows="3"
											paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
									<p:panelGrid columns="1" styleClass="guide-item">
										<f:facet name="header">
											<p:graphicImage onclick="$('#guideId').val(#{guide.id}); addGuideLink()" url="#{buildProperties.cdnUrl}/#{guide.getThumbName()}" width="50" height="50"/>
										</f:facet>
										<h:outputText style="font-size: 12px" value="#{guide.title}-#{guide.id}" />
									</p:panelGrid>
								</p:dataGrid>

							</h:panelGroup>

					</p:tab>

				</p:tabView>
				</h:form>
				<p:panel>
					<h:form id="emailForm" prependId="false">
						<p:outputLabel for="subject" value="Subject " style="width: 100px"/>
						<p:inputText id="subject" style="width: 200px"  rows="1"  value="#{LeadEmailController.emailSubject}"/>



								<p:outputLabel for="template" value="Save Template " style="width: 100px"/>
								<p:inputText id="template" style="width: 200px"  rows="1"  value="#{LeadEmailController.newReferenceName}"/>

						<p:editor id="editor" widgetVar="editorWidget"  value="#{LeadEmailController.emailText}" width="600" />
						<h:inputHidden id="guideId" />
						<p:remoteCommand name="addGuideLink" actionListener="#{LeadEmailController.addGuideLink()}"/>
						<p:commandButton  oncomplete="PF('modalEmail').hide()" icon="ui-icon-mail-closed" value="Send Email" style="margin-left: 10px; float: right"  actionListener="#{LeadEmailController.sendEmailButton}"/>
					</h:form>
				</p:panel>


			</p:panelGrid>
		</p:dialog>


		<p:dialog  widgetVar="modalCall"  appendToBody="true" styleClass="modalSceneText" modal="true" dynamic="true" >

			<h:form>

				<p:remoteCommand name="saveCallNotes" actionListener="#{LeadEditController.addCall()}" />
				<p:editor id="callEditor" widgetVar="editorWidget"  value="#{LeadEditController.callNotes}" width="600" />
			</h:form>
			<p:ajax event="close" process="@this" immediate="true"   oncomplete="saveCallNotes()" />
		</p:dialog>

		<p:dialog  widgetVar="modalVisitEventReport"  appendToBody="true" styleClass="modalSceneText" modal="true" dynamic="true" >

			<h:form id="reportForm">
				<p:dataTable id="eventReport" var="event" value="#{LeadEditController.selectedVisit.events}">
					<p:column headerText="Category"><h:outputText value="#{event.category}"/>  </p:column>
					<p:column headerText="Action"><h:outputText value="#{event.action}"/>  </p:column>
					<p:column headerText="Label"><h:outputText value="#{event.label}"/>  </p:column>
					<p:column headerText="Count"><h:outputText value="#{event.total}"/>  </p:column>

				</p:dataTable>

			</h:form>


		</p:dialog>


    </ui:define>
</ui:composition>