@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/* GUIDE CONTAINER */

*,
*:before,
*:after {
	border-radius: 0;
	box-sizing: border-box;
	font-weight: normal;
	margin: 0;
	outline: none;
	padding: 0;
}

#menu{
	z-index: 		3;
	background-color: #000000;
	color: 			#ffffff;
	width:          100%;
	background-color: #ffffff;
}

.panel {
	position: fixed;
	left: 210px; /*left or right and the width of your navigation panel*/
	width: 210px; /*should match the above value*/
	height: 100%;
	background-color: #ffffff;
}

/*@media all and (max-width: 768px)   {
	#guide {
		height : 		90%;
		top: 			30px;
	}
}*/


/* GUIDE Buttons */
#guideButtons {
	z-index: 			4; 
	position: 			absolute;
	height : 			40px;
	top: 				2px;
	right:				2px;
/*	width:				100%;*/

}

.guideButton {
	z-index: 			6;
	position: 			relative;
	float:				right;
	height : 			30px;
	width : 			30px;
	line-height:		30px;
	text-align: 		center;
	cursor: 			pointer;
	background: 		#fff;	
	margin:				0;
	margin-left:		2px;
	border-width: 		thin;	
	border-style: 		solid;
	border-color: 		#efeeee; 
	padding:			0; 

}

.guideButton:hover, .openGuide:hover {
	background: #f3f3f3;	
}



		

.guideButton i{
	  line-height: 			30px;
	  font-size:			14px;
	  color: 				#000; 

}

 .guideButtonClose{
		color: 				#f3f3f3;
		  font-size:		18px!important;	
}

@media all and (max-width: 768px)  {
	.guideButton {
		height : 			30px;
		width : 			30px;
		line-height:		30px;
		margin-left:		2px;
	}
	
	.guideButton i{
		  line-height: 			30px;
		  font-size:			16px;
		  color: 				#000; 
	}
	
	#guideButtons {
	height : 			30px;
	top: 				1px;
	right:				1px;
	}
}

.connectInfo {
	z-index: 			4; 
	position: 			absolute;
	top: 				42px;
	right:				2px;
	width:				200px;
	background: 		#fff;
	font-family: 		'Lato', sans-serif;
	font-weight: 		400;
	font-size: 			14px;
	line-height: 		30px;
	margin-right:		2px;
	padding:			5px;	
}


.connectInfo a
{
	background-color:   rgba(193,205,205, 0.5);
	font-family: 		'Lato', sans-serif;
	font-weight: 		400;
	font-size: 			14px;
}


.openSceneInfo{
	width: 			   40px;
	z-index: 			3;
	background:			#ffffff;
	font-size: 			30px;
	line-height: 		40px;
	padding: 			10px;
	left: -40px;
	bottom: 0;
	position: absolute;
}


/* .openSceneInfo i{
  line-height: 			50px;
  font-size:			28px;
  color: 				#222222; 
} */


.gameButton{
	position: 			relative;
	float:				left;
	height: 			50px;
	width: 				50px;
	text-align: 		center;
	cursor: 			pointer;
	background: 		#fff;	
	margin-left:		5px;
	margin-top:			5px;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #efeeee;  

}


@media all and (max-width: 768px)  {
	.gameButton {
		display:			none;
	}
}


.gameButton i{
	  line-height: 			50px;
  	  font-size:			28px;
 	  color: 				#222222; 
}


.openGuideButton
{
	width: 			    40px;
	z-index: 			3;
	background:			#ffffff;
	font-size: 			30px;
	line-height: 		40px;
	padding: 			10px;
	left:				0;
	top: 				0;
	position:			absolute;
}



.nextPrev {
	z-index: 			4;
	height : 			50px;
	width : 			20px;
	text-align: 		center;
	cursor: 			pointer;	
    background:         #FFF;	
    color: 				#222222; 
	margin:             0 2px 0 2px;
	cursor: 			pointer;
	top:				50%;
	position: absolute;
}

.nextPrev:hover{
	background-color: #666;
}

#prevButton {
		float:left;
	}
	
.nextPrev i{
  color: 	#222222; 
  line-height: 50px;
  font-size:20px;
}	


	
#nextButton {
		right:  0px;
	}



@media all and (max-width: 768px) {
	
	.nextPrev{
	  	bottom: 				2px;
  		height : 				50px;
		width : 				22px;
		margin:             0 2px 0 2px;
	}
	
	.nextPrev i{
		  color: #222222; 
		  line-height: 	50px;
		  font-size:	22px;
	}
	
	.openGuideButton
	{
		right:	           25px; 
		width: 			   50px !important;
	}

	
	
}

/*  SCENE TEXT */
.sceneContainer
{
	position: 			absolute;
	z-index: 		    5;
	top:				0px;
	right: 0px;
	height: 100%;
	width: 200px;
	background-color: #ffffff;
}


.sceneText
{
	color: 				#000;
	position:			relative;
   	font-family: 		'Lato', sans-serif;
	font-weight: 		400;
	font-size: 			14px;
	margin-right:		2px;
	left:				0;

}

.sceneText h1
{
	font-size:			24px;
	font-weight: 		300;
	text-transform: 	uppercase;
    line-height:		32px;
    height:				32px;
    background-color:   white;
  	margin:				2px 0px;
  	padding:			0 10px;
  	overflow:			hidden;
}

.sceneText span
{
    background-color:   white;
    display:			inline-block;
    padding:			5px 10px;
    margin-top:			0;
}



.sceneText a
{
	background-color:   rgba(193,205,205, 0.5);
}

.sceneText a.guideLinkSelected
{
	background-color:   #09F;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     -o-user-select: none;
    user-select: none;
}


@media all and (max-width: 768px) {
	
	.sceneText
	{
		left:				0px;
	}
	
	.sceneText h1 {
			font-size: 18px;
			word-wrap: break-word;
			line-height: 30px;	
			margin:		 2px 0;
    		height:		 30px;
	}
	
/*	.sceneText span {
			font-size: 12px;
			padding:   2px 5px;
	}
	
	.sceneText a {
			font-size: 12px;
	}*/

}



#sceneButtons {
	height:				50px;
	position:			relative;
	width:				100%;
}

.sceneButton
{
	z-index: 			3; 
	position: 			relative;
	float:				left;
	height : 			30px;
	width : 			30px;
	line-height:		30px;
	text-align: 		center;
	cursor: 			pointer;
	background: 		#fff;	
	margin-right:		2px;
	margin-top:			2px;
	border-width: 		thin;	
	border-style: 		solid;
	border-color: 		#efeeee;  
}


.sceneButtonCount
{
	margin-left:			-3px;
		width : 			25px;

}

.sceneButtonCount span
{
	font-family: 		'Lato', sans-serif;
	font-weight: 		300;
	font-color : 		#000;
	font-size:			14px;	
	cursor: 			pointer;
}

.sceneButton i
{
	  line-height: 			30px;
	  font-size:			14px;
	  color: 				#000; 
}


.sceneButton:hover {
	background: 		#f3f3f3;	
}



@media all and (max-width: 768px)   {
	.sceneButton {
		height : 			30px;
		width : 			30px;
		line-height:		30px;
	}
	
	.sceneButton i{
		  line-height: 			30px;
		  font-size:			18px;
		  color: 				#000; 
	}
}




/*  GAME SECTION */


#gameContainer
{
	position: 			absolute;
	z-index: 		    2; 
	width:				200px;
	margin:				5px;
}

.gameText
{
	color: 				#000;
	position:			absolute;
    padding: 			10px 20px;
    padding-top:		5px;
 	background-color:   rgba(255, 255, 255, 0.9);
	font-family: 		'Lato', sans-serif;
 	font-weight: 		300;
	font-size: 			18px;
}


.gameText h1
{
	font-size:			24px;
	font-weight:		300;
	text-transform: 	uppercase;
    padding-bottom:		10px;
    margin-top:			2px;
}



.gameText a
{
	color: 				#666;
}

@media all and (max-width: 768px)  {
	.gameText {
		font-size: 			14px;
	    padding: 			10px;
	    margin:				0;
	    box-sizing: 		border-box;
	    width:				100%;
	}
		.gameText h1 {
		font-size: 			18px;
	}
	
	#gameContainer {
		    margin:				0;
		    width:				100%;
		    height:				80px;

	}
}


/*  CONTENTS SECTION */

.contentsContainer
{
}



.headerButtonContainer {
	z-index: 			3; 
	position: 			absolute;
	line-height : 		50px;
	cursor: 			pointer;
	bottom:				2px;
	right:				24px;
	background: 		#fff;	
	margin-left:		5px;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #efeeee; 
	display:			block; 
	background-color:   white;


}

.headerButtonContainer i{
  line-height: 			50px;
  font-size:			16px;
  color: 				#000; 
  	margin-left:		10px;	
}

.headerButtonContainer span
{
	font-family: 		'Lato', sans-serif;
	font-weight: 		300;
	text-transform: 	uppercase;
	padding: 			0px 13px 0px 3px;
	font-size:			16px;
    line-height: 		40px;
	cursor:             pointer;

}


.headerButtonContainer span:hover {
	color: #333;	
}

@media all and (max-width: 768px) {
	
	.headerButtonContainer
	{
	    line-height : 		30px;
	    left:				0px;
	    width:				60%;
	    padding:			5px;
	    margin:				0px;
	    
	}
	
	.headerButtonContainer i{
  		line-height: 			30px;
  		  	margin-left:		5px;
	}
	
	.headerButtonContainer span
	{
		font-size:			14px;
		padding: 			0px 5px 0px 3px;
		line-height: 		30px;
	}
	
	#headerButtonsTab
	{
	    margin: 	0px;
	    float:		left;
	    border-bottom:	none;
	    padding:	0;
		margin-top:   		-41px;
		margin-bottom:   		0;
		width:			 	 	30px;
		height:					40px;
		text-align:				center;

	}
	
}




.contents
{
	height : 			200px;
	width : 			200px;
	max-height : 		200px;
	max-width : 		200px;
	background-size:	cover; 
	background-repeat:	no-repeat;
	background-position:center;
	cursor:             pointer;
	
		
-webkit-box-shadow: 9px 9px 19px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    9px 9px 19px 0px rgba(50, 50, 50, 0.75);
box-shadow:         9px 9px 19px 0px rgba(50, 50, 50, 0.75);
}


@media all and (max-width: 768px) {
	.contentsContainer {
		width : 			200px;
	}
	
	.contents{
		height : 			100px;
		width : 			150px;
	}
}


.contents span
{
	font-family: 		'Lato', sans-serif;
/* 	font-color : 		#000; */
	font-weight: 		700;
	font-size:      	14px;
	height:				24px;
	line-height:		24px;
	background: 		#fff;
	padding: 			4px 10px 4px 10px;
	position: 			absolute;
	bottom:				0;
	width: 				100%;
}

@media all and (max-width: 768px) {
	.contents {
		height : 			100px;
	}
	.contents span{
		padding: 			1px 5px 1px 5px;
	}
}


.guideScene
{
	height : 			180px;
	width : 			160px;
	background-size:	cover; 
	background-repeat:	no-repeat;
	background-position: center;
	position:			relative;
	overflow:			hidden;
	display:			inline-block;
	margin:		    	0px 2.5px 2.5px 2.5px;
	float:				left;
	line-height:      	12px;
}

.guideSceneTitle 
{
	line-height:      	14px;
}

.guideScene span i
{
	font-color: 		 #333;
	font-size: 			 12px;
	line-height:      	24px;
}

.guideScene span
{
	font-family: 		'Lato', sans-serif;
	font-color : 		#000;
	font-weight: 		700;
	font-size:      	14px;
	background: 		#fff;
	width:				100%;
	line-height:      	12px;
	bottom:				0px;
	padding:			5px 10px 0px 10px;
}


@media all and (max-width: 768px) {
	.guideScene {
		height : 		100px;
		width : 		150px;
		margin:		    2px 7.5px;
	}
	
	.guideScene span
	{
		font-weight: 		400;
		font-size:      	14px;
		line-height:      	14px;
	}
	
		.guideScene span i
	{
		font-size:      	14px;
		line-height:      	14px;
	}
}




.mapNumber {
  width:			40px;
  height: 			40px;
  border-radius: 	50% 50% 50% 0;
  background: 		#09F;
  color:			#fff;
  position: 		absolute;
  transform: 		rotate(-45deg);
  left: 			50%;
  top: 				45%;
  margin: 			-20px 0 0 -20px;
 z-order:			3;
}

.mapNumber p {
  transform: 		rotate(45deg);
  position: 		relative;
  top: 				6px;
  left: 			11px;
}


/* SECTIONS */

.section
{
}



.sectionTitle
{
	background:         #fff;
	height: 			50px;
	max-height:			50px;
	width:				100%;
	display: 			table;
	overflow:			hidden; 
	margin-bottom:		5px;
}


.sectionTitle h1
{
	font-family: 		'Lato', sans-serif;
	font-weight: 		300;
	text-transform: 	uppercase;
	padding: 			5px 5px;
	font-size:			24px;
	background:         #fff;
	display: 			table-cell; 
	vertical-align: 	middle;
	color: #000000;

}

.sectionTitle i{
  line-height: 			60px;
  font-size:			18px;
  color: 				#000; 
}


@media all and (max-width: 768px)  {
	
	.sectionTitle {
					
			height: 			30px;

	}
	
	.sectionTitle h1{
			padding: 			0px 10px 0px 5px;
			font-size:			18px;
			line-height:		20px;
	}
}


.section span
{
	font-family:        'Lato', sans-serif;
	font-color : 		#000;
	font-size:      	14px;
	background: 		#fff;
	padding-left: 		10px;
	padding-top: 		4px;
	position: 			absolute;
	top: 				83%;
	width:			    90%!important;

}

.map
{
	width : 			365px;
	height : 			365px;
 	background-size: 	100% 100%; 
 	overflow:			hidden; 
	background-repeat:	no-repeat;
	background-position: center;
	display:			inline-block;
	margin:				0 2.5px 0 0;
	float:				left;
}

@media all and (max-width: 768px)   {
	.map {
	width : 			200px;
	height : 			200px;
	margin-top:			5px;
	}
}

@media all and (max-width: 768px) and (orientation: portrait)  {

}

.mapMarkerNumber
{

	font-family: 'Lato', sans-serif;
	font-weight:		700;
	font-size:      	14px;
	font-color : 		#000;
	width:				10px;
	height:				18px;
	padding: 			10px 15px;
	position:			absolute;
}


.mapMarker {
  width: 24px;
  height: 24px;
  border-radius: 50% 50% 50% 0;
  background: #09F;
  color:#fff;
  position: relative;
  transform: rotate(-45deg);
  margin: -20px 0 0 -20px;

}

.mapMarker p {
	  transform: rotate(45deg);
	  position: relative;
	  top: 7px;
  	  left: 5px;
	}


/* HOTSPOT DESCRIPTION */

#hotspotTextContainer
{
	position:			absolute;
	z-index:			3;
	top:				60px;
	left:				60%;
	width:				40%;
}
.hotspotText
{
	color: 				#fff;
}

.hotspotText h1
{
	font-size:			24px;
	font-family: 		'Lato', sans-serif;
	font-weight: 		400;
	line-height:		50px;
	text-transform: 	uppercase;
 	margin-top: 		5px;
 	margin-bottom: 		15px;
	padding:			0 20px;
}

.hotspotText span
{
	font-size: 			18px;
	font-family: 		'Lato', sans-serif;
	font-weight: 		300;
	line-height: 		22px;
	float:				left;
    padding:			0 20px;
    margin-right:		20px;
}



.hotspotText a
{
	font-weight: 		400;
	color: 				#fff;
}

.hotspotText b
{
	font-weight: 		400;
		color: 				#fff;
}



@media all and (max-width: 768px) and (orientation: portrait) {
	
	#hotspotTextContainer {
		left:				0;
		width:				100%;
		top:				50%;
		padding:			0;
		margin:				0;
	}
	
	.hotspotText h1 {
		font-size: 			18px;
		line-height:		20px;
	}
	
	.hotspotText span {
		font-size: 			14px;
	}
	
}



@media all and (max-width: 768px) and (orientation: landscape) {
	
	#hotspotTextContainer {
		top:				10px;
		left:				60%;
		width:				40%;
		padding:			0;
		margin:				0;
	}
	
	.hotspotText h1 {
		font-size: 			18px;
		line-height:		20px;
	}
	
	.hotspotText span {
		font-size: 			14px;
	}
}

#closeButton{

    z-index:              4;
    position:             absolute;
    left:                 50%;
    background:           white;
    cursor:				  pointer;
    text-align:			  center;
    line-height: 		  40px;
    padding:			  auto auto;
    margin-bottom:		  5px;
}


#closeButton i{

  line-height: 			40px;
  font-size:			18px;
  color: 				#000; 
  margin-right:			5px;
}

@media all and (max-width: 768px) {
	#closeButton{
   		 line-height: 		  30px;
	}
	
	#closeButton i{
   		 line-height: 		  30px;
	}
}

.clear
{
  clear: both;
}

.css-icon {
		background-image: url("../images/marker.png");
		text-align: 		center;
		padding: 5px;
}

.css-icon span{
	font-family: 		'Lato', sans-serif;
	font-weight: 		300;
	font-size:			14px;
	line-height: 		14px;
	width:				100px;
	text-align: 		center!important;
	overflow: 			hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	text-overflow: ellipsis;
}


/* Required styles; changing these may break the menu */

.slinky-menu {
	overflow: hidden;
	top: 60px;
}
.slinky-menu > ul {
	left: 0;
	position: relative;
}
.slinky-menu ul,
.slinky-menu li {
	list-style: none;
	margin: 0;
}
.slinky-menu ul {
	width: 100%;
}
.slinky-menu a {
	display: block;
}
.slinky-menu li ul {
	display: none;
	left: 100%;
	position: absolute;
	top: 0;
}

/* Default theme */

.slinky-menu a {
	background: #ffffff;
	border: none;
	color: #333;
	padding: 1em;
}
.slinky-menu a:hover {
	background: #000;
	color: #f9f9f9;
}
.slinky-menu a.next:after {
	content: '\276f';
	margin-left: 1em;
	float: right;
}
.slinky-menu a.back:before {
	content: '\276e';
	margin-right: 1em;
	float: left;
}


/*Markers*/

.marker-cluster-small {
	background-color: white;
}
.marker-cluster-small div {
	background-color: #ffffff;
}

.marker-cluster-medium {
	background-color: #ffffff;
}
.marker-cluster-medium div {
	background-color: #ffffff;
}

.marker-cluster-large {
	background-color: #ffffff;
}
.marker-cluster-large div {
	background-color: #ffffff;
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: #ffffff;
}
.leaflet-oldie .marker-cluster-small div {
	background-color: #ffffff;
}

.leaflet-oldie .marker-cluster-medium {
	background-color: #ffffff;
}
.leaflet-oldie .marker-cluster-medium div {
	background-color: #ffffff;
}

.leaflet-oldie .marker-cluster-large {
	background-color: #ffffff;
}
.leaflet-oldie .marker-cluster-large div {
	background-color: #ffffff;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
	line-height: 30px;
}

.playButton{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -80px 0 0 -80px;
	background-color: rgba(255, 251, 253, 0.8 );
	z-index: 4;
	height: 160px;
	width: 160px;
	padding: 10px;
	border-radius: 50%;
	text-align: center;

}

.playButton i{
	font-size: 80px;
	line-height: 120px;
	margin: auto;
	display: inline-block;
	margin-left: 15px;
	color: #666666;
}

