/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

body{

    background-color:#f9f9f9;
    height:100%;
}

#content
{
    margin:0 auto;
    width: 100%;
    height:100%;
}

#container
{
    margin:auto auto;
     position: relative;
     top: 150px;
     overflow:auto;
}


p {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align:left
}

.logo
{
 float: left
}

#header
{
  background: rgba(255, 255, 255, 0.5);
  width : 100%;
  height: 114px;
  display: block;
  position: fixed;
  text-align: center;
  z-index: 1002;

}

p.menu{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
    margin:15px 15px;
    padding-top: 0px;
    cursor: pointer
}

p.benefits{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 0px;
    color: #999;
    width: 400px;
    float: left;
    position: relative
}

.link{
    text-decoration: underline;
    cursor: pointer;
    color: #09F;
}

h2.what{
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-style: normal;
    color: #09F;
    font-weight: 300;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-bottom: 50px
}



.arrow-down {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    text-align: center;
    left: 48%;
    position: relative;
    border-top: 40px solid #09F;
    cursor: pointer;
}

.move {
position: fixed;'
bottom: 5px;
}


h2.tag{
    font-family: 'Lato', sans-serif;
    font-size:40px;
    float: left;
    position: relative;
    color: #09F;
    font-weight: 200;
    height: 20px;
    text-align: left;
    margin-top: 50px
}


ul {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    margin:0 auto;
    padding-top: 0px;
    color: #999999;
    font-weight: 320;
}


h1 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding-left: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-decoration:none;
    color: #09F;
    font-weight: 400;
    float: left;
    position: relative
}

h1.benefits {
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    vertical-align: top;
    padding-left: 20px;
    padding-bottom: 20px;
    top: 0px;
    position: relative;
    height: 20px;
    float: left

}

h1.menu {
    font-size: 18px;
    margin-bottom: -15px;
    font-weight: 400;

}

.menu{
    float: right;
    bottom: 0px;
    position: relative;
    right: 10%;
    display: inline-block;
    vertical-align: bottom;
    line-height: normal;
}


iframe
{
    height: 450px;
    top: 0px;
    left: 0px;
    margin: auto auto;
    display: block;
    border: 1 solid;
    width: 100%;
    position: absolute;
}

.signup_iframe
{
    height: 250px;
    width: 100%;
    border: none;
    overflow: hidden;
    scrolling: no;
}

.signup_iframe_div
{
    height: 300px;
     top: 0px;
    left: 0px;
    margin: auto auto;
    display: block;
    background: transparent;
    border: none;
    width: 100%;
    overflow: hidden;
}

.contact_iframe
{
    height: 550px;
    width: 100%;
    border: none;
    overflow: hidden;
    scrolling: no;
}

.contact_iframe_div
{
    height: 600px;
     top: 0px;
    left: 0px;
    margin: auto auto;
    display: block;
    background: transparent;
    border: none;
    width: 100%;
    overflow: hidden;
}

img {
    padding: 0;
    margin: 0;
    display: block;
    text-align:center;
    Float: left;
}

.benefits
{
float: left;
width: 400px;
}

.email {
    padding-left: 10px;
    margin: 0;
    display: block;
    Float: left;
}

.guide
{
    width: 200px;
    height: 200px;
    -moz-box-shadow: 20px 10px 10px #C1C1B8;
    -webkit-box-shadow: 20px 10px 10px #C1C1B8;
    box-shadow: 20px 10px 10px #C1C1B8;
}


.item {

     padding: 2px;
     z-index: 1001;

}

.feature{
padding: 20px;
display: block;
width: 80%;
margin: 10% 10%;
margin-top: 50px;
vertical-align: top;
text-align: top;
}

.features{
display: none;
}
.signupforum{
display: block;
position: relative;
padding: 20px;
}

.large{
width: 95%;
margin: 0px;
height: 450px;
    -moz-box-shadow: 20px 10px 50px #999;
    -webkit-box-shadow: 20px 10px 50px #999;
    box-shadow: 20px 10px 50px #999;

}

.admin{
height : 600px!important;

}


.large_contact{
width: 50%;
padding: 10px;
}

.hidden{
visibility: hidden;
display: none;
}

.signup{
display: none;
}

.signupform{
display: block;
float: left;
position: relative;
padding: 20px
}



#contact_form_holder {

    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-style: normal;
    margin:15px 15px;
    margin-top: 20px;
    padding-top: 20px;
    color: #999999;
    font-weight: 320;
}
#contact_form_holder input, #contact_form_holder textarea {
    width:100%; /* make all the inputs and the textarea same size (100% of the div they are into) */
    font-family:inherit; /* we must set this, because it doesn't inherits it */
    margin:10px;
    padding:5px;
    height: 60px;
    font-size: 30px;

}

#contact_form_holder textarea {
    height:100px; /* i never liked small textareas, so make it 100px in height */
}
.send_message {
    width:100px !important; /* the width of the submit button  */
    font-variant: small-caps; /* nicer font-variant (like explained before) */
    border:1px solid black; /* remove the default border and put a normal black one */
    cursor:pointer;
    cursor:hand;
    font-size: 20px;
    height:50px;
}




/************** CONTACT PAGE  *************/


.form-button{
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    font-size: 30px!important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    height: 50px!important

}

.form-button:hover{
    background-color: #f3f0eb;
    color: #666;
}

.custom-tooltip-styling {
z-index: 1002;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 3px;
width: 400px;
position: relative;
padding: 10px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
position: absolute
}

.custom-tooltip-styling:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
bottom: -15px;
left: 190px;
}