/*
    LEANORAMA - jQuery Plugin for displaying and navigating panoramic images.
    Infobox Extension - dispalys information box on leanorama objects.

    Version 0.1.0
    -------------
    Copyright 2013 Leandigo (www.leandigo.com). All rights reserved.
    Use is subject to terms.
    
*/

.leanorama-infobox {
    position:       absolute;
    top:            1rem;
    right:          1rem;
    padding:        0.7rem;
    font-size:      1.5rem;
    line-height:    1.3em;
    font-family:    sans-serif;
    color:          white;
    letter-spacing: 0.06em;
    text-align:     right;
}

.leanorama-infobox-bg {
    position:           absolute;
    top:                0;
    right:              0;
    width:              100%;
    height:             100%;
    background-color:   #31C6FF;
    border:             1px solid #fff;
    opacity:            0.6;
    filter:             alpha(opacity=60);
    border-radius:      0.2em;
}

.leanorama-infobox-inner {
    position:       relative;
    font-family:    Verdana;
    color:          #FFFFFF;
    text-shadow:    0 -1px #bbb;
}