body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

.ui-widget {
	
}


.ui-accordion .ui-accordion-content {
	padding: 0 !important;
	overflow:hidden;
}

.ui-widget-content{
	xxbackground: none !important;
	xxpadding: 0 !important;
	xxmargin: 0 !important;
}

.ui-panel-content{
	padding: 0 !important;
	margin: 0 !important;
}

.sceneAccordionTab{
	width:100%; 
	height:100%; 
	min-height:600px;
	margin:0; 
	padding:0; 
	border:none; 
	overflow:hidden;
}