<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="template.xhtml">
    <ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{BeekController.preRenderView}" 
	        		type="preRenderView"/>
	    </f:metadata>
	</ui:define>
	
   <ui:define name="content">
		<h:form enctype="multipart/form-data" action="/beek">
		    <p:messages showDetail="true"/>
	
		    <p:fieldset legend="Player">
				<p:inputText value="#{BeekController.beek.playerIncrement}" />
				<ui:fragment rendered="#{BeekController.uploadable}">
			    	<p:fileUpload value="#{BeekController.playerFile}" mode="simple"/><br/>
				</ui:fragment>
		    </p:fieldset> 
		    <p:fieldset legend="Admin">
			    <p:inputText value="#{BeekController.beek.adminIncrement}" /> 
				<ui:fragment rendered="#{BeekController.uploadable}">
			    	<p:fileUpload value="#{BeekController.adminFile}" mode="simple"/><br/>
				</ui:fragment>
		    </p:fieldset> 
			
		    <p:commandButton value="Submit" ajax="false"
				actionListener="#{BeekController.upload}"/>
	
		</h:form>
	
	
  </ui:define>
</ui:composition>