<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="newtemplate.xhtml">
    <ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{CustomerDashboardController.preRenderView}" 
	        		type="preRenderView"/>
	    </f:metadata>

		<style type="text/css">
			.sceneTileLabel{

				background-color: #ffffff;
				font-size: 16px;
				line-height: 30px;
				background-size: 100%;
				width: 100%;
				margin: 5px 0;
				padding: 0;
				display: block;
			}
			.sceneTileData{

				background-color: #ffffff;
				font-size: 12px;
				background-size: 100%;
				text-decoration: none;
				text-align: left;
			}


			.guideTileLabel{

				background-color: #ffffff;
				font-size: 16px;
				line-height: 30px;
				background-size: 100%;
				margin: 2px;
				padding: 2px;
				position: absolute;
				bottom: 2px;
				left: 2px;
			}

			.modalScene {
				overflow: hidden;
				width:90% !important;
				height:90% !important;
				top:5% !important;
				left: 5% !important;
			}
			.panelgrid-tranparent{
				margin: 30px auto;
				text-align: left;
				padding: 2px;
			}

			.panelgrid-tranparent tr, .panelgrid-tranparent td, .panelgrid-tranparent tbody, .panelgrid-tranparent table {
				background-color: rgba( 255, 255, 255, 0.2 )!important;
				background-image: none;
				font-size: 10px!important;
				border-color: rgba(0, 0, 0, 0.1)!important;

			}

			.locationPanelGrid{
				width: 300px;
				border: none;
				margin: 20px 5px;
			}

			.ui-grid, .ui-data-grid, .ui-widget
			{

				border: none;
			}

			.locationPanelGrid tr, .locationPanelGrid td, .locationPanelGrid tbody, .locationPanelGrid table{
				background-color: rgba( 255, 255, 255, 0.2 )!important;
				background-image: none;
				font-size: 14px!important;
				border: none;
				text-align: right;
				margin: 5px 0px;
			}

			.guideTable tr, .guideTable td, .guideTable tbody
			{
				border: none;
				margin: 50px auto;

			}

			.guideTable table thead tr {
				display: none;
			}


			.iFrameScene{
				top: 0;
				left: 0;
			}

			.datalist-noborder .ui-widget-content, .ui-datalist-item {
				border: none;
				font-size: 11px;
				font-family: inherit;
				font-weight: 100;
			}

			.ui-datatable .ui-datatable-data td, .ui-datatable .ui-datatable-data-empty td {
				border-style: none;
			}

			.locationHeader
			{
				font-size: 14px;
			}


			.low-opacity
			   {
				-khtml-opacity:.50;
				-moz-opacity:.50;
				-ms-filter:"alpha(opacity=50)";
				filter:alpha(opacity=50);
				filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
				opacity:.50;
			}

			.ui-grid-row
			{
				margin-bottom: 10px;
			}


		</style>

	</ui:define>




    <ui:define name="content">


        <h:form id="form" >
        <p:growl id="info" showDetail="true" autoUpdate="true"/>
        	<p:confirmDialog widgetVar="deleteSelectedGuideDialog"
				message="Are you sure you want to delete the guide?"
				header="Delete Guide" severity="alert" >
				<p:commandButton id="confirm" value="Yes" icon="ui-icon-trash"
					update="myGuidesPanel" oncomplete="PF('deleteSelectedGuideDialog').hide()"
					actionListener="#{CustomerDashboardController.deleteSelectedGuide}" />
				<p:commandButton id="decline" value="No" 
					onclick="PF('deleteSelectedGuideDialog').hide()" type="button" />
			</p:confirmDialog>
        	<p:layout style="width: 100%;" id="layout">
		    	<p:layoutUnit position="west" resizable="false" size="60%" style="border:0">

		        	<p:panel header="My Locations">

						<p:panel id="locationList" style="width:99%">
							<f:facet name="header" align="left">
								<ui:fragment rendered='#{CustomerDashboardController.locations.size() > 1}'>
									<p:selectOneMenu style="width:100%"
													 value="#{CustomerDashboardController.selectedLocationId}">
										<f:selectItems
												value="#{CustomerDashboardController.locations}"
												var="location"
												itemLabel="#{location.title}"
												itemValue="#{location.id}"/>
										<p:ajax update="locationScenes locationDetails" event="change" />
									</p:selectOneMenu>
								</ui:fragment>
							</f:facet>

						</p:panel>

					<p:panelGrid styleClass="locationPanelGrid" rendered="#{CustomerDashboardController.hasLocations()}" id="locationDetails" columns="2" layout="grid">

						<h:outputText value="Name:" styleClass="locationHeader" />
						<p:inputTextarea id="locationName" rows="1"  maxlength="20"  value="#{CustomerDashboardController.selectedLocation.title}">
							<p:ajax event="change" listener="#{CustomerDashboardController.saveSelectedLocation()}"  update="@this locationList" />
						</p:inputTextarea>

						<h:outputText value="Telephone:" />
						<p:inputTextarea id="locationTel"  rows="1"  value="#{CustomerDashboardController.selectedLocation.phone}">
							<p:ajax event="change" listener="#{CustomerDashboardController.saveSelectedLocation()}"  update="@this" />
						</p:inputTextarea>

						<h:outputText value="Email:" />
						<p:inputTextarea id="locationEmail"  rows="1"  value="#{CustomerDashboardController.selectedLocation.email}">
							<p:ajax event="change"  listener="#{CustomerDashboardController.saveSelectedLocation()}"  update="@this" />
						</p:inputTextarea>

						<h:outputText value="Website:" />
						<p:inputTextarea id="locationWeb"  rows="1"     value="#{CustomerDashboardController.selectedLocation.infoURL}">
							<p:ajax event="change" listener="#{CustomerDashboardController.saveSelectedLocation()}"  update="@this" />
						</p:inputTextarea>

					</p:panelGrid>

						<h:outputText value="Please click on scene titles to add scene descriptions. Each description should introduce the scene and what your audience can expect here" rendered="#{CustomerDashboardController.allApprovedScenesHaveDescriptions()}" />


			            <p:dataGrid id="locationScenes"
							value="#{CustomerDashboardController.locationScenes}"  layout="grid" columns="4"
							var="scene" style="border:0px #FFF solid; !important; font-size: 10px; text-align: center; display:table-cell" lazy="true"
					        emptyMessage="No scenes found.">


						    <p:panel style="width:200px; height: 200px;border-radius: 20px;xposition: relative; text-align: center; display:table-cell; margin: 5px; padding: 5px; vertical-align:top;  background-size: 100% 100%;
						    		 background-image: url(#{buildProperties.cdnUrl}/#{scene.thumbName});">


								<p:commandButton update=":modal:sceneText" rendered="#{scene.status != 0}" style="font-size: 14px;  #{scene.status != 0 and scene.description.length() > 0 ? 'border-color: green' : 'border-color: red'} "
												 icon="ui-icon-pencil"  value="#{scene.title}" oncomplete="PF('modalText').show()" title="View Detail">
									<f:setPropertyActionListener value="#{scene}" target="#{CustomerDashboardController.selectedScene}" />
								</p:commandButton>

								<h:outputText rendered="#{scene.status == 0}" value="#{scene.title}" style="font-size: 14px; line-height: 20px; height: 30px; background-color: #ffffff"></h:outputText>

								<p:spacer width="100%" height="20px" />



								<p:panelGrid styleClass="panelgrid-tranparent" rendered="#{scene.status != 0 and CustomerDashboardController.selectedLocation.status != 0}" columns="2">

									<h:outputText value="Visits:" />
									<h:outputText  value="#{CustomerDashboardController.getVisitsData(scene.id)[0]}" />
									<h:outputText value="Average Time:" />
									<h:outputText  rendered="#{CustomerDashboardController.getVisitsData(scene.id)[0] gt 0}"  value="#{CustomerDashboardController.getVisitsData(scene.id)[1]}" />
								</p:panelGrid>

								

								<p:commandButton icon="ui-icon-arrow-4-diag"  value="#{scene.status == 0 ? 'view' : 'edit'}" style="font-size: 14px; bottom: 5px"
											onclick="PF('modalScene').show(); $('#modalFrame').attr({'src':'/scene/' + #{scene.id} + '/edit', 'height' : $(window).height() * 0.8});"	 />


							</p:panel>

							<p:commandButton update="@form" icon="#{scene.status == 1 ? 'ui-icon-check' : null}" actionListener="#{scene.toggleapproval()}" />
						</p:dataGrid>

						<p:panel id="approval" style="margin-left:  50%" rendered="#{CustomerDashboardController.selectedLocation.status == 0}">
						<h:outputText value="You have approved #{CustomerDashboardController.locationApprovedScenes.size()} scenes" /><br/>
						<h:outputText value="The minimum number required is #{CustomerDashboardController.selectedLocation.sceneOrderCount}" rendered="#{CustomerDashboardController.selectedLocation.sceneOrderCount > 0}"/><br/>

						<p:commandButton update="form:locationScenes" rendered="#{CustomerDashboardController.selectedLocation.status == 0}" actionListener="#{CustomerDashboardController.approveLocation()}" disabled="#{CustomerDashboardController.minSceneApproved()}"   style="font-size: 18px; margin: 10px auto" value="Approve Location" >
							<p:confirm header="Scene approval" message="You are about to approve #{CustomerDashboardController.locationApprovedScenes != null ? CustomerDashboardController.locationApprovedScenes.size() : 0} scenes and complete your order. Please confirm you wish to proceed." icon="ui-icon-alert" />
						</p:commandButton>
						</p:panel>

					</p:panel>


		    	</p:layoutUnit>
			    <p:layoutUnit position="center">

					<p:panel id="myGuidesPanel">
						<f:facet name="header">
							My Guides
							<p:commandButton align="right" value="New" icon="ui-icon-document" ajax="true"
											 action="#{CustomerDashboardController.createGuide}"
											 style="z-index:99; float: right"/>
						</f:facet>


							<p:dataTable  rendered='#{CustomerDashboardController.myGuides.size() > 0}' styleClass="guideTable" value="#{CustomerDashboardController.myGuides}" var="guide" >

								<p:column>
									<p:commandLink id="guideLink" styleClass="sceneLink" action="#{CustomerDashboardController.viewGuide(guide)}" >
										<p:graphicImage width="80%" height="auto" style="margin: 30px auto"  url="#{buildProperties.cdnUrl}/#{guide.thumbName}"/>
										<h:outputText value="#{guide.title}"  styleClass="guideTileLabel"  /><br/>
									</p:commandLink>
								</p:column>

								<p:column style="position: relative;">
									<div class="datalist-noborder">
									<p:dataList value="#{CustomerDashboardController.getPerformance(guide.id)}"  var="row" itemType="disc" emptyMessage="no data" >
										<h3>	#{row.first}: #{row.second}</h3>
									</p:dataList>
									</div>
									<p:commandButton icon="ui-icon-trash" style="position: absolute;  top: 10px; right: 10px;"
													 action="#{CustomerDashboardController.selectGuide(guide)}"></p:commandButton>
								</p:column>
							</p:dataTable>

					</p:panel>


			    </p:layoutUnit>
			</p:layout>

		</h:form>

		<p:dialog  widgetVar="modalScene"  styleClass="modalScene" modal="true" >
			<iframe id="modalFrame" class="iFrameScene" width="99.5%" scrolling="false" />
		</p:dialog>


		<p:dialog  widgetVar="modalText"  appendToBody="true" styleClass="modalSceneText" modal="true" dynamic="true" >

		<h:form id="modal">
			<p:remoteCommand name="rc" update=":form:locationScenes" actionListener="#{CustomerDashboardController.saveSelectedScene()}" />
			<p:panel id="sceneText">

				<p:inputText id="sceneName" style="width: 200px" rows="1" counter="labelCount" maxlength="20" counterTemplate="{0} characters remaining." value="#{CustomerDashboardController.selectedScene.title}"/>
				<br/>
				<h:outputText id="labelCount" />
				<p:editor id="sceneDescription" rows="10" cols="50" value="#{CustomerDashboardController.selectedScene.description}" counter="descriptionCount" maxlength="1000" counterTemplate="{0} characters remaining." autoResize="false" /><br/>
				<h:outputText id="descriptionCount" />

			</p:panel>
		</h:form>

			<p:ajax event="close" process="@this" immediate="true"   oncomplete="rc()" />
		</p:dialog>

		<p:confirmDialog global="true" widgetVar="confirmDialog" message="Are you sure?" width="200px">
			<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" style="float:right;"/>
			<p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" style="float:right;"/>
		</p:confirmDialog>


	</ui:define>
</ui:composition>