<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Beek Admin Console</title>
    <h:outputStylesheet library="css" name="style.css"/>
    <ui:insert name="gmap"/>
    <ui:insert name="script"/>
    <ui:insert name="checkAccess">
        <f:metadata>
            <f:event listener="#{TemplateController.isLoggedIn()}" type="preRenderView"/>
        </f:metadata>
    </ui:insert>
    <ui:insert name="checkurl"/>
</h:head>

<h:body>
    <div class="ui-widget ui-widget-header" style="height:40px;">
        <div style="float:left;margin-top:5px;margin-right:20px; width:100%;">
        	<ui:fragment rendered='#{TemplateController.isLoggedIn()}'>
        	<h:form prependId="false">
        		<p:spacer style="width:10px;" />
        		<p:commandButton value="Home" icon="ui-icon-home" style="width:100px;"
	                  action="#{TemplateController.viewDashboard}"/>
	            <p:spacer style="width:5px;" />
	        	<p:commandButton value="Locations" icon="ui-icon-image" style="width:100px;"
	                  action="#{TemplateController.viewLocationDashboard}"/>
	            <p:spacer style="width:5px;" />
	        	<p:commandButton value="Guides" icon="ui-icon-note" rendered="#{TemplateController.isEmployee()}" style="width:100px;"
	                  action="#{TemplateController.viewGuideDashboard}"/>
	            <p:spacer style="width:5px;" />
	            <p:commandButton value="Leads" icon="ui-icon-contact" rendered="#{TemplateController.isEmployee()}" style="width:100px;"
	                  action="#{TemplateController.viewLeadList}"/>
	            <p:spacer style="width:5px;" />
	            <p:commandButton value="Info" icon="ui-icon-info" style="width:100px;float :right"
	                  action="#{TemplateController.viewInfo}"/>
	            <p:spacer style="width:5px;" />
	        	<p:commandButton value="Logout" icon="ui-icon-extlink" style="width:100px; float :right"
	                  action="#{TemplateController.logout}"/>
	                  
	           
            </h:form>
            </ui:fragment>
        </div>
    </div>

    <div>
        <div id="pagetitle" align="left">
            <ui:insert name="pagetitle"/>
        </div>
    </div>

    <div id="content" style="margin-left:5%; margin-right:5%; margin-top:20px;">
        <ui:insert name="content">Content</ui:insert>
    </div>

    <div id="footer">
        <ui:insert name="footer" />
    </div>
</h:body>
</html>