<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="template.xhtml">
    <ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{PhotographerDashboardController.preRenderView}" 
	        		type="preRenderView"/>
	    </f:metadata>
	</ui:define>
    <ui:define name="content">
		<h:form>
			<p:growl id="info" showDetail="true" autoUpdate="true"/>
			<p:layout style="min-width:400px; min-height:600px;" id="layout">
		    	<p:layoutUnit position="west" resizable="false" size="500" style="border:0">       
					<p:panel> 
						 <f:facet name="header">  
					        My PhotoShoots
					    </f:facet>  
					    
					    <p:dataTable id="dataTable" var="shoot"
					    		value="#{PhotographerDashboardController.myPhotoShoots}" 
					            emptyMessage="No shoots found.">
					
					        <p:column headerText="Location">
					            <h:outputText value="#{shoot.locationTitle}" />
					        </p:column>
			
					        <p:column headerText="Scenes">
					            <h:outputText value="#{shoot.numScenes}" />
					        </p:column>
			
					        <p:column headerText="Date">
					            <h:outputText value="#{shoot.firstDate}" />
					        </p:column>
					        
					        <p:column headerText="Status">
					            <h:outputText value="#{shoot.status}" />
					        </p:column>
			
					        <p:column>
					        	<ui:fragment rendered='#{shoot.status == "Processed"}'> 
	 									<p:commandButton value="EDIT" ajax="true"
							        		action="#{PhotographerDashboardController.editPhotoShoot(shoot)}"/>
	                  			</ui:fragment>
					        	<ui:fragment rendered='#{shoot.status != "Processed"}'> 
	 									<p:commandButton value="VIEW" ajax="true"
							        		action="#{PhotographerDashboardController.viewPhotoShoot(shoot)}"/>
	                  			</ui:fragment>
					        </p:column>
					    </p:dataTable>
				    </p:panel> 
				</p:layoutUnit>
				<p:layoutUnit position="center" size="300" style="border:0">
				    <p:panel> 
						 <f:facet name="header">  
					        My Locations
					        <p:commandButton align="right" value="New" icon="ui-icon-document" ajax="true"
				        			action="#{PhotographerDashboardController.createLocation}"/>
					    </f:facet>  
					    <p:dataTable 
							value="#{PhotographerDashboardController.myLocations}" 
							var="location" 
					        emptyMessage="No scenes found.">
						    <p:column headerText="Title">
						        <h:outputText value="#{location.title}" />
						    </p:column>
						
						    <p:column headerText="Scenes">
						        <h:outputText value="#{location.sceneCount}" />
						    </p:column>

						    <p:column>
						        <p:commandButton value="EDIT" ajax="true"
						        	action="#{PhotographerDashboardController.viewLocation(location)}"/>
						    </p:column>
						    
						</p:dataTable>
					</p:panel> 
				</p:layoutUnit>
			</p:layout>
		</h:form>
    </ui:define>
</ui:composition>