/****************** GENERAL STYLES & PSEUDO CLASSES ******************/

input{
	-webkit-appearance: none;
}

span{
	color: #888;
	font-size: 13px;
}

i{
	font-style: normal;
}

.h-font{
	font-family: 'Lato', sans-serif;
}

#main-container{
	width: 100%;
	overflow: hidden;
}

.error-box{
	background-color: red;
	padding: 10px;
	color: #fff;
	border-radius: 0px;
	margin-bottom: 10px;
}

.success{
	background-color: #45b442;
	padding: 10px;
	color: #fff;
	border-radius: 0px;
	margin-bottom: 10px;
}

.grey-hr{
	border-color: #ddd !important;
}

.bold-p{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	text-transform: uppercase;
}

.large-p{
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	margin-bottom: 11px;
	font-size: 18px;
}

.inner-section{
	padding-top: 66px;
	padding-bottom: 66px;	
}


.inner-section h4{
	text-transform: uppercase;	
}

.pad-top{
	padding-top: 66px;
	margin-bottom: 22px;
}

.pad-bottom{
	padding-bottom: 66px;
}

.text-white{
	color: #fff;	
}


.text-blue{
	color: #09F;
}

.slider{
	position: relative;
}	

.slider-arrows{
	position: relative;
}

.small-slider .flex-control-paging li a{
	width: 10px;
	height: 10px;
}

.small-slider .flex-control-nav{
	bottom: -22px;
}

.slide-bg{
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	max-width: 300%;
	min-height: 100%;
	max-height: 100%;
}

#home-slider .slides li{
	height: 650px;
	overflow: hidden;
	position: relative;
}

.slides .row{
	padding-top: 200px;
	position: relative;
	z-index: 2;
}

.hero-h1{
		font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 88px;
}

.hr{
	margin: 0px auto;
	border: 1px solid #fff;
	margin-top: 22px;
	margin-bottom: 22px;
}

.hr-grey{
	margin: 0px auto;
	border: 1px solid #f3f0eb;
	margin-top: 22px;
	margin-bottom: 22px;
}

.hr-blue{
	margin: 0px auto;
	border: 1px solid #09F;
	margin-top: 22px;
	margin-bottom: 22px;
}

.inner-hr{
	margin: 0px auto;
	border: 1px solid #fff;
}

.btn{
	padding: 20px;
	border: 2px solid #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	margin: 0px auto;
	margin-top: 44px;
	color: #fff;
	font-size: 18px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	font-family: 'Lato';
}

.btn:hover{
	background-color: #fff;
	color: #666;
}

.page-header{
	background: url('../images/f1.jpg');
	background-position:0px 280px;
	padding-top: 121px;
}

.page-header .hero-h1{
	
	position: relative;
	top: 17px;
}

.page-preamble{
	background-color: #e9e6e1;
}

.page-preamble h3{
	color: #666;
	margin-top: 22px;
}

.page-preamble h4{
	color: #666;
}

.page-subtitle{
	color: #666;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 13px;
	letter-spacing: 3px;
	
}

.divider{
	background: url('../../../farm4.staticflickr.com/3803/9274369357_cef1c79e7e_h.jpg');
	text-align: center;
	background-size: cover;
	padding-top: 22px;
	padding-bottom: 22px;
	background-position: 0px -200px;
}

.divider .btn{
	margin: 0px; 
	display: inline-block;
}


/****************** MAIN NAV ******************/

#main-nav{
	min-height: 114px;
	max-height: 114px;
	background-color: #FFF;
	/*background-color: rgba(255,255,255,0.95);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);*/
	position: absolute;
	top: 0;
	z-index: 20;
	width: 100%;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
	float: right;
}

.menu-open{
	max-height: 800px !important;
}

#mobile-toggle{
	font-size: 60px;
	position: absolute;
	top: 10px;
	right: 22px;
	cursor: pointer;
}

#logo{
	padding-top: 0px;
	display: inline-block;
}

#logo h5{
	color: #888;
	font-size: 30px;
	position: relative;
	font-weight: 300;
	top: -6px;
}

#nav-holder ul{
	font-family: 'Lato', sans-serif;
	font-weight: 400 ;
	list-style: none;
	margin: 0px;
	padding-top: 46px;
	overflow: hidden;
}

#nav-holder li{
	float: left;
	list-style: none;
	width: auto;
	margin-left:10px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}

.contact {

	margin-right:40px;

}

#nav-holder li a{
	font-family: 'Lato', sans-serif;
	color: #888;
	
}

#nav-holder li:first-child{
	margin-left: 0px;
}

.sub{
	max-height: 0px;
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
	padding-top: 0px !important;
	margin-top: 28px !important;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
	opacity: 0;
	position: relative;
}

.sub li{
	padding: 11px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	border-bottom: 1px solid #e9e6e1;
}

.sub li:hover{
	background-color: rgba(235,235,235,0.95);
}

#nav-holder li:hover .sub{
	max-height: 200px;
	opacity: 1;
}


/* *** BEEK VIEWER *** */




#player iframe {
	display:hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 600px;
	/*background-image: url(images/beek_screen_grab-ui.jpg);
	background-repeat: no-repeat;
	background-position: left top;*/

}




.iframe_a       {position:relative; disply: none; }
.iframe_a .ratio {display:block;width:100%;height:auto;}
.iframe_a iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

#launch{z-index:100; 	}


/*********************** HOME PAGE *********************/

#front-quote{
	background-color: #e9e6e1;
}

#front-quote h3{
	color: #666;
}

#front-quote .hr{
	border-color: #ddd;
	width: 50%;
}

#front-quote p{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

#home-slider .hr{
	width: 50%;
}

#home-slider .btn{
	width: 150px;
}

#home-slider .btn:hover{
	background-color: #fff;
	color: #888;
}

#home-slider .flexslider, .work-slider .flexslider{
	margin: 0px;
}

#home-slider .flex-control-nav, .work-slider .flex-control-nav{
	bottom: 22px;
}

#home-slider .flex-control-paging li a.flex-active, .work-slider .flex-control-paging li a.flex-active {
	background: rgba(255,255,255,0.5);
}

#home-slider .flex-control-paging li a:hover, .work-slider .flex-control-paging li a:hover  {
	background: rgba(255,255,255,0.4);	
}

#home-slider .flex-control-paging li a, .work-slider .flex-control-paging li a {
	background: rgba(255,255,255,0.3);	
}

/********** FEATURED SERVICES ************/

.service{
	padding: 22px;
	position: relative;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.odd-tri-up {
	width: 0;
	height: 0;
	border-left: 240px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 11px solid #f3f0eb;
	position: absolute;
	top: -11px;
	left: 0px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

.even-tri-down {
	width: 0;
	height: 0;
	border-right: 240px solid transparent;
	border-left: 0px solid transparent;
	border-top: 11px solid #e9e6e1;
	position: absolute;
	bottom: -11px;
	left: 0px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

.even-tri-up {
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 240px solid transparent;
	border-bottom: 11px solid #e9e6e1;
	position: absolute;
	top: -11px;
	left: 0px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

.odd-tri-down {
	width: 0;
	height: 0;
	border-right: 0px solid transparent;
	border-left: 240px solid transparent;
	border-top: 11px solid #f3f0eb;
	position: absolute;
	bottom:-11px;
	left: 0px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

.service:nth-child(even){
	background-color: #e9e6e1;
}

.service:nth-child(odd){
	background-color: #f3f0eb;
}

.service i{
	font-size: 70px;
	color: #666;
	background-color: #fff;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	display: inline-block;
	padding-top: 5px;
	margin-bottom:22px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.service i:hover{
	-moz-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.service h5{
	color: #f12738;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 13px;
	letter-spacing: 3px;
}

/************* FEATURED WORK *************/

#featured-work .inner-section{
	padding-top: 0px;
	padding-bottom: 44px;
}

#featured-work .hr{
	border-color: #f3f0eb;
}

.ft-work{
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.ft-work:hover img{ 
	right: 10px;
}

.ft-work img{
	height: 200px;
	max-width: 150%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	position: relative;
	top: 1px;
}

.ft-work-title{
	padding: 15px;
	background-color: #f3f0eb;
	width: 100%;
	border-bottom: 1px solid #e9e6e1;
	position: relative;
	top: -5px;
}

#featured-work-slider img{
	display: inline-block !important;
	width: auto !important;
}

/************* HOME SOCIAL ***************/

#home-social{
	background-color: #e9e6e1;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

.twitter-bg{
	background-color: #00abed !important; 
}

.facebook-bg{
	background-color: #4862a2 !important;
}

.dribbble-bg{
	background-color: #e44d87 !important;
}

.behance-bg{
	background-color: #000 !important;
}

#home-social .inner-section{
	padding-bottom: 77px;
}

#home-social h3{
	margin-bottom: 22px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

#home-social p{
	margin-bottom: 29px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

#home-social span{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

#home-social i{
	font-size: 70px;
	display: inline-block;
	margin-right: 22px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

#home-social i:hover{
	transform: scale(1.5,1.5);
	-ms-transform: scale(1.5,1.5); /* IE 9 */
	-webkit-transform: scale(1.5,1.5); /* Safari and Chrome */
}

/************* ABOUT PAGE ******************/

.process i{
	font-size: 100px;
	text-align: center;
	display: inline-block;
	height: 110px;
	width: 110px;
	background-color: #f3f0eb;
	padding-top: 5px;
	border-radius: 50%;
	margin-bottom: 22px;
}

#clients h4{
	margin-bottom: 44px;
}

.process h4{
	margin-bottom: 22px;
}

.team-img-wrap{
	height: 180px;
	width: 180px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0px auto;
	margin-bottom: 22px;
	
}

.team-member ul{
	display: inline-block;
	margin-top: 11px;
}

.team-member li{
	list-style: none;
	float: left;
	margin-left: 11px;
	width: 30px;
	height: 30px;
	color: #fff;
	background-color: #e9e6e1;
	font-size: 18px;
	padding-top: 3px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	position: relative;
}

.team-member li:hover{
	bottom: 5px;
}

.team-member li:first-child{
	margin-left: 0px;
}

.team-member li i{
	color: #666;
}

#clients{
	background-color: #f3f0eb;
}

/************* SERVICES PAGE ************/

#services-page h4{
	margin-bottom: 22px;
}

/************ TESTIMONIALS **************/

.testimonials-img-wrap{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0px auto;
}

.alt-testimonial{
	overflow: hidden;
	position: relative;
}

.alt-testimonial .testimonials-img-wrap{
	width: 80px;
	height: 80px;
	margin-bottom: 11px;
	float: left;
}

.testimonial-title{
	clear: both;
}

.testimonial-body{
	background-color: #eee;
	padding: 15px;
	position: relative;
}

.testimonial-triangle {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #eee;
	position: absolute;
	top: 20px;
	left: -20px;
}

.testimonial-down-arrow {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #eee;
	position: relative;
	left: 40px;
}





/**************** WORK PAGES *************/

.filters{
	list-style: none;
	overflow: hidden;
	margin-bottom: 44px;
	display: inline-block;
}

.filters li{
	float: left;
	padding: 10px;
	border: 1px solid #e9e6e1;
	margin-right: 22px;
	font-size: 13px;
	letter-spacing: 3px;
	border-radius: 3px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}	

.filters li:last-child{
	margin-right: 0px;
}

.filters li:hover{
	background-color: #f8f8f8;
}

.active-filter{
	background-color: #f3f0eb;
}

.work-item .work-img-holder{
	overflow: hidden;
	cursor: pointer;
}

.work-item .work-img-holder img{
	height: 100%;
	max-width: 150%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	position: relative;
}

.work-img-holder img:hover{
	opacity: 0.8;
}

.work-title{
	padding: 15px;
	background-color: #f3f0eb;
	width: 100%;
	border-bottom: 1px solid #e9e6e1;
	position: relative;
	top: -5px;
}

.work-title p{
	margin-bottom: 0px;
}

#twocol-container .work-item .work-img-holder{
	height: 300px;
}

#twocol-container h5{
	margin-bottom: 11px;
}

#twocol-container .work-item{
	margin-bottom: 22px;
}

#threecol-container .work-item .work-img-holder{
	height: 250px;
}

#threecol-container h5{
	margin-bottom: 0px;
}

#threecol-container .work-item{
	margin-bottom: 22px;
}

/*************** WORK SINGLE PAGE *************/

.project-details li{
	list-style: none;	
}

.project-details i{
	font-size: 26px;
	margin-right: 11px;
}

.project-details span{
	font-family: 'Lato', sans-serif;
}

.work-nav .btn{
	display: inline-block;
	color: #666;
	font-size: 50px;
	margin-top: 0px;
	border: 1px solid #e9e6e1;
	height: 44px;
}

.work-nav .btn:hover{
	background-color: #e9e6e1;
}

.work-nav i{
	position: relative;
	top: -27px;
}

.related-works{
	background-color: #e9e6e1;
}

.related-works h3{
	margin-top: 22px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 6px;
}

.related-works .hr{
	border-color: #cecece;
	width: 50%;
	margin-bottom: 44px;
}

.related-works a{
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.related-works a:hover{
	opacity: 0.8;
}

/************ BLOG PAGE ***************/

.blog-post{
	margin-bottom: 66px;
	overflow: hidden;
}

.blogcol{
	float: left;
	padding: 0px 5px 0px 5px;
}

.blog-date{
	padding: 10px;
	background-color: #e9e6e1;
	border-radius: 3px;
}

.blog-date h4{
	text-transform: uppercase;
	font-weight: normal;
	color: #444;
}

.blog-img-holder{
	height: 300px;
	overflow: hidden;
}

.blog-img-holder iframe{
	width: 100%;
	border-style: none;
	height: 300px;
}

.blog-img-holder img{
	width: 100%;
	max-height: 200%;
}

.blog-snippet{
	margin-top: 11px;
}

.blog-snippet h4{
	margin-bottom: 5px;
}

.blog-snippet span{
	font-size: 11px;
	color: #888;
}

.blog-snippet p{
	margin-top: 22px;
	margin-bottom: 0px;
}

#blog .btn{
	MARGIN-TOP: 22PX;
	padding: 10px;
	display: inline-block;
	color: #666;
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	letter-spacing: 3px;
	border: 1px solid  #e9e6e1;
	background-color: #e9e6e1;
	border-radius: 3px
}

#blog .btn:hover{
	background-color: #cdcdcd;
}

.sidebar-widget{
	margin-bottom: 22px;
}

.sidebar-widget h4{
	margin-bottom: 11px;
}

.sidebar-widget p{
	margin-bottom: 0px;
}

#category-widget ul{
	list-style: none;
	margin-bottom: 0px;
}

#category-widget i{
	font-size: 36px;
	display: inline-block;
	height: 33px;
}

#category-widget li{
	margin-top: -11px;
}

#tags-widget h4{
	margin-bottom: 22px;
}

#tags-widget li{
	list-style: none;
	margin-bottom: 17px;
	float: left;
	margin-right: 5px;
	
}

#tags-widget li a{
	padding: 7px;
	background-color: #e9e6e1;
	border-radius: 3px;
	color: #666;
	
}

/***** BLOG SINGLE *****/

.blog-text{
	overflow: hidden;s
}

.blog-single-img{
	height: 400px;
	overflow: hidden;
}

.big-quote{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 22px;
	padding: 11px 0px 11px 0px;
}

.big-quote h4{
	color: #666;
}

.comment{
	margin-top: 22px;
}

.indent{
	margin-left: 60px;
}

.author-img{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 11px;
}

.author-img img{
	width: 100px;
}

.comment-text{
	max-width: 80%;
}

.comment-text p{
	margin-top: 11px;
}

.comments #contact-form{
	overflow: hidden;
	width: 100%;
}

.comments #form-msg{
	height: 200px;
}


/************** CONTACT PAGE *************/

#google-map iframe{
	width: 100%;
	height: 350px;
	border-style: none;
}



    

/************** CONTACT PAGE VALIDATION *************/

#contact_form_holder { 
    font-variant: small-caps; 
    width:400px;
}
#contact_form_holder input, #contact_form_holder textarea { 
    width:100%; /* make all the inputs and the textarea same size (100% of the div they are into) */ 
    font-family:inherit; /* we must set this, because it doesn't inherits it */ 
    padding:5px;
}
#contact_form_holder textarea { 
    height:100px; /* i never liked small textareas, so make it 100px in height */ 
}
#send_message { 
    width:200px !important; /* the width of the submit button  */ 
    font-variant: small-caps; /* nicer font-variant (like explained before) */  
    border:1px solid black; /* remove the default border and put a normal black one */
    cursor:pointer;
    cursor:hand;
}
#cf_submit_p { text-align:right; margin-top: 10px; } /* show the submit button aligned with the right side */

.error { display: none; padding:10px; color: #D8000C; font-size:12px;background-color: #FFBABA;}
.success { display: none; padding:10px; color: #044406; font-size:12px;background-color: #B7FBB9;}

#contact_logo { vertical-align: middle; }
.error img { vertical-align:top; }



/************** CONTACT PAGE  *************/

#contact-details p{
	font-size: 16px;
}

#contact-details .hr{
	border-color: #eee;
}

#contact-details ul{
	list-style: none;
}

#contact-details i{
	font-size: 36px;
}

#contact-details li{
	margin-top: -22px;
}

#contact-details li:last-child{
	margin-top: -5px;
}

.form-button{
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 80px;
	background-color: #fff;
	font-size: 13px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	cursor: pointer;
	
}

.form-button:hover{
	background-color: #f3f0eb;
	color: #666;
}



/********* FOOTER *****************/

#footer{
	background-color: #222;
	color: #e9e6e1;
}

#footer .inner-section{
	padding-bottom: 43px;
}

#footer .btn h6{
	margin-left: 0px;
}

#footer .btn{
	padding: 10px;
	margin-top: 0px;
	position: relative;
	bottom: 11px;
	
}

#footer .btn i{
	position: absolute;
	font-size: 40px;
	left: 5px;
	top: -4px;
}

#footer .btn:hover h6{
	color: #222;
}

#footer .btn:hover i{
	color: #222;
}

/************* ISOTOPE STYLES ************/

.work-item {
  z-index: 2;
}

.isotope-hidden.work-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .work-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .work-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .work-item,
.isotope .work-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.work-item {
  z-index: 2;
}

.isotope-hidden.work-item {
  pointer-events: none;
  z-index: 1;
}